{% include "pages/_page.head.njk" %}

{# Dependencias #}
{% from "components/header/_macro.header.njk" import componentHeader %}
{% from "components/nav/_macro.nav.njk" import componentNav %}


<!-- template.logged -->
<body>
  <!-- headerBlock -->
  {% block headerBlock %}
    {% call componentHeader({
      "homepageUrl": "index.html",
       "subnav": {
        "text": "Gestión de Estiércoles"
      },
      "navigation": {
        "items": [
          {
            "href": "#",
            "text": "Declaraciones",
            "active": true
          },
          {
            "href": "#",
            "text": "Validaciones"
          },
          {
            "href": "#",
            "text": "Estadisticas"
          },
          {
            "href": "#",
            "text": "Configuración"
          },
          {
            "href": "#",
            "text": "Ayuda"
          }
          ]
      },
      "dropdown": {
        "text": "Suscriptor ficticio",
        "items": [
          {
          "text": "Perfil",
          "href": "/"
          },
          {
          "text": "Cerrar sesión",
          "href": "/"
          }
        ]
      },
      "offcanvas": {
        "text": "Menú",
        "textClose": "Cerrar menú"
      },
      "classes": "relative z-40"
    }) %}
      <nav class="w-full p-2" aria-labelledby="menu-movil-title">
        <h2 id="menu-movil-title" class="sr-only">Menú principal</h2>
        <h3 class="p-base text-base font-bold">Gestión de Estiércoles</h3>
        {{ componentNav({
          "idPrefix": "nav-mobile-pages",
          "hasNav": false,
          "items": [
            {
              "href": "#",
              "text": "Declaraciones",
              "active": true
            },
            {
              "href": "#",
              "text": "Validaciones"
            },
            {
              "href": "#",
              "text": "Estadisticas"
            },
            {
              "href": "#",
              "text": "Configuración"
            },
            {
              "href": "#",
              "text": "Ayuda",
              "divider": true
            }
          ],
          "attributes": {
            "aria-label": "Lista de páginas"
          }
        })  }}
        <h3 class="p-base text-base font-bold">Usuario/a: Suscriptor ficticio</h3>
        {{ componentNav({
          "idPrefix": "nav-mobile-user",
          "hasNav": false,
          "items": [
            {
              "href": "#",
              "text": "Perfil"
            },
            {
              "href": "#",
              "text": "Cerrar sesión"
            }
          ],
          "attributes": {
            "aria-label": "Lista de acciones de usuario"
          }
        })  }}
      </nav>
    {% endcall %}
  {% endblock %}
  <!-- /headerBlock -->

  <!-- subheaderBlock -->
  {% block subheaderBlock %}
  {% endblock %}
  <!-- /subheaderBlock -->

  <main id="content" class="relative container mx-auto p-base sm:py-lg min-h-96">
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
      {% include "pages/_page.notification-header.njk" %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->

    <!-- contentBlock -->
    {% block contentBlock %}
      {% include "pages/_page.spinner-block.njk" %}
    {% endblock %}
    <!-- /contentBlock -->

    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
      {% include "pages/_page.notification-footer.njk" %}
    {% endblock %}
    <!-- /notificationFooterBlock -->

  </main>

  <!-- footerBlock -->
  {% block footerBlock %}
    {% include "pages/_page.footer.njk" %}
  {% endblock %}
  <!-- /footerBlock -->

  <!-- modalBlock -->
  {% block modalBlock %}
    {% include "pages/_page.spinner.njk" %}
  {% endblock %}
  <!-- /modalBlock -->

{% include "pages/_page.foot.njk" %}
