{% include "pages/_page.head.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/skip-link/_macro.skip-link.njk" import componentSkipLink %}


<body>
  <header class="lg:fixed lg:inset-x-0 lg:top-0 z-40 bg-white border-b border-neutral-base">
    <div class="container mx-auto px-base ">
      <!-- headerSkipLinkBlock -->
      {% block headerSkipLinkBlock %}
        {{ componentSkipLink({
          "text": "Saltar al contenido principal",
          "href": "#content"
        })  }}
      {% endblock %}
      <!-- /headerSkipLinkBlock -->
      <div class="lg:flex lg:flex-wrap lg:w-full py-base">
        <div class="w-full">
          <!-- headerNavigationEditBlock -->
          {% block headerNavigationEditBlock %}
          {% endblock %}
          <!-- /headerNavigationEditBlock -->
        </div>
        <div class="flex-1 mb-base lg:mb-0">
          <div class="flex items-center">
            {% block headerTitleIcon %}
            {% endblock %}
            <div class="flex-1">
              <!-- headerTitleEditBlock -->
              {% block headerTitleEditBlock %}
              {% endblock %}
              <!-- /headerTitleEditBlock -->
            </div>
          </div>          
        </div>
        <!-- headerActionsEditBlock -->
        {% block headerActionsEditBlock %}
        {% endblock %}
        <!-- /headerActionsEditBlock -->
      </div>
    </div>
  </header>

  <main id="content" class="relative container mx-auto p-base sm:py-lg min-h-96">
    <div class="lg:pb-2xl"></div> {# This is to push the content to avoid overlapping with he fixed header. Customize this according to the header height #}
    
    <!-- notificationHeaderBlock -->
    {% block notificationHeaderBlock %}
      {% include "pages/_page.notification-edit.njk" %}
    {% endblock %}
    <!-- /notificationHeaderBlock -->

    <!-- contentBlock -->
    {% block contentBlock %}
      {% include "pages/_page.spinner-block.njk" %}
    {% endblock %}
    <!-- /contentBlock -->

    <!-- notificationFooterBlock -->
    {% block notificationFooterBlock %}
      {% include "pages/_page.notification-footer.njk" %}
    {% endblock %}
    <!-- /notificationFooterBlock -->
    
  </main>

  <!-- modalBlock -->
  {% block modalBlock %}
    {% include "pages/_page.spinner.njk" %}
  {% endblock %}
  <!-- /modalBlock -->

{% include "pages/_page.foot-headroom.njk" %}
