{% set title = "Detalle Centro. Gestión de Estiércoles. Gobierno de Aragón" %}
{% extends "pages/_template.AGSTI-edicion.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dialog/_macro.dialog.njk" import componentDialog %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/modal/_macro.modal.njk" import componentModal %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/tabs/_macro.tabs.njk" import componentTabs %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}

{# Definiciones #}
{% set checksAnalisis %}
  {{ componentCheckboxes({
    "idPrefix": "acreditacion",
    "name": "acreditacion",
    "items": [
      {
        "value": "propio-centro",
        "text": "Realizados en el laboratorio del propio centro gestor"
      },
      {
        "value": "laboratorio-externo",
        "html": ' <p>Realizados por un laboratorio externo al centro, denominado:</p>
                  <div class="flex mt-sm" id="with-divider">
                    <!-- input -->
                    <div class="c-form-group mb-0">
                      <input class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base mb-0 w-full lg:w-64" id="nombre-laboratorio" name="nombre-laboratorio" type="text">
                    </div>
                    <!-- /input -->
                    <div class="self-end mb-sm mx-base" role="separator">
                        <p>con CIF:</p>
                    </div>
                    <!-- input -->
                    <div class="c-form-group mb-0">
                      <input class="c-input block mt-sm border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base mb-0 w-full lg:w-64" id="cif-laboratorio" name="cif-laboratorio" type="text">
                    </div>
                    <!-- /input -->
                  </div> '
      }
    ]
  })  }}
{% endset %}
{% set infoIdentificacion %}
  <span class="whitespace-nowrap">Identificación<a href="#" title="Más info" onclick="openDialog('modal1', this, 'info-identificacion')"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.2em" height="1.2em" class="inline-block	text-primary-base -mt-1 ml-xs" role="img" aria-label="Información"><path d="M70 0a70 70 0 1070 70A70.08 70.08 0 0070 0zm7.5 105a7.5 7.5 0 01-15 0V70a7.5 7.5 0 0115 0zM70 50a10 10 0 1110-10 10 10 0 01-10 10z" fill="currentColor"></path></svg></a></span>
{% endset %}
{% set botonEliminar %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M140 41.188a10.5 10.5 0 0 0-10.5-10.5h-23.632a3.5 3.5 0 0 1-3.43-2.8 33.334 33.334 0 0 0-65.45 0 3.514 3.514 0 0 1-3.43 2.8H10.5a10.5 10.5 0 0 0 0 21H14a3.5 3.5 0 0 1 3.5 3.5v63a21 21 0 0 0 21 21h63a21 21 0 0 0 21-21v-63a3.5 3.5 0 0 1 3.5-3.5h3.5a10.5 10.5 0 0 0 10.5-10.5Zm-70.294-22.82A15.512 15.512 0 0 1 82.6 25.2a3.556 3.556 0 0 1 .21 3.626 3.5 3.5 0 0 1-3.094 1.862h-19.95a3.5 3.5 0 0 1-2.884-5.488 15.4 15.4 0 0 1 12.824-6.832ZM57.75 107.632a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Zm42 0a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "title": "Eliminar",
      "aria-labelledby": "acciones itemX"
    }
  })  }}
{% endset %}
{% set justificacionVariacion %}
  {{ componentTextarea({
    "name": "justificacion",
    "id": "justificacion",
    "formGroup": {
      "classes": "mb-xs"
    },
    "label": {
      "text": "Justificación de las variaciones",
      "classes": "sr-only"
    },
    "classes": "w-full",
    "rows": 3,
    "placeholder": "Escriba aquí su justificación..."
  })  }}
  <p class="text-sm mt-xs">En caso de que se hayan aplicado estiércoles a terrenos no agrícolas se incluirá en este apartado la cantidad de nutrientes (NPK) y la referencia catastral de los inmuebles de destino.</p>
{% endset %}
{% set direccionPostal %}
  {{ componentInput({
    "label": {
      "text": "Dirección"
    },
    "hint": {
      "text": "Escribe el tipo de vía, el número, el piso,... p.ej. Plaza de Antonio Beltrán, 10, entresuelo 3ª"
    },
    "placeholder": "Escribe aquí la dirección...",
    "id": "input-direccion",
    "name": "direccion",
    "classes": "w-full lg:w-2/3"
  })  }}
  {{ componentInput({
    "label": {
      "text": "Código Postal"
    },
    "placeholder": "Escribe aquí el código postal...",
    "id": "input-cpostal",
    "name": "cpostal",
    "classes": "w-full lg:w-1/3"
  })  }}
  {{ componentInput({
    "label": {
      "text": "Localidad"
    },
    "placeholder": "Escribe aquí la localidad...",
    "id": "input-localidad",
    "name": "localidad",
    "classes": "w-full lg:w-1/2"
  })  }}
  {{ componentInput({
    "label": {
      "text": "Provincia"
    },
    "placeholder": "Escribe aquí la provincia...",
    "id": "input-provincia",
    "name": "provincia",
    "classes": "w-full lg:w-1/2"
  })  }}
  {{ componentInput({
    "label": {
      "text": "País"
    },
    "placeholder": "Escribe aquí el país...",
    "id": "input-pais",
    "name": "pais",
    "classes": "w-full lg:w-1/2"
  })  }}
{% endset %}
{% set composicion %}
  <h2 class="c-h2">Análisis de la composición química de los estiércoles</h2>
  {{ componentCheckboxes({
    "idPrefix": "emision-declaracion-blanco",
    "name": "emision-declaracion-blanco",
    "items": [
      {
        "value": "declaracion-blanco",
        "text": "Emitir una declaración en blanco por falta de actividad de este centro en el período a declarar"
      }
    ]
  })  }}
  {{ componentCheckboxes({
    "idPrefix": "declara-composicion-quimica",
    "name": "declara-composicion-quimica",
    "fieldset": {
      "legend": {
        "text": "Declara"
      }
    },
    "hint": {
      "text": "Que la composición química de los estiércoles que se declara en este documento:"
    },
    "items": [
      {
        "value": "analisis",
        "text": "Se acredita mediante análisis:",
        "checked": true,
        "conditional": {
          "html": checksAnalisis
        }
      }
    ]
  })  }}
{% endset %}
{% set volumenes %}
  <h2 class="c-h2">Volúmenes anuales de estiércoles</h2>
  {{ componentTable({
    "caption": "Volumen de estiércoles almacenado, aceptado, y que ha sido objeto de gestión final en el centro, en el año de referencia:",
    "captionClasses": "sticky top-0 left-0 w-0 mb-sm font-bold text-left w-full",
    "firstCellIsHeader": true,
    "head": [
      {
        "html": '',
        "classes": "sticky left-0 w-60 bg-white"
      },
      {
        "html": 'Volumen (m3)',
        "classes": "text-right"
      },
      {
        "html": 'Contenido en N (Kg)',
        "classes": "text-right"
      },
      {
        "html": 'Contenido en P (Kg)',
        "classes": "text-right"
      },
      {
        "html": 'Contenido en K (Kg)',
        "classes": "text-right"
      }
    ],
    "rows": [
      [
        {
          "html": 'a) Almacenado a 1 de enero',
          "classes": "sticky left-0 w-60 bg-white align-middle"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="eneroVol" name="eneroVol" type="text" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="eneroContN" name="eneroContN" type="text" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="eneroContP" name="eneroContP" type="text" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="eneroContK" name="eneroContK" type="text" value="0,00">',
          "classes": "text-right"
        }
      ],
      [
        {
          "html": 'b) Almacenado a 31 de diciembre',
          "classes": "sticky left-0 w-60 bg-white align-middle"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="diciembreVol" name="diciembreVol" type="text" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="diciembreContN" name="diciembreContN" type="text" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="diciembreContP" name="diciembreContP" type="text" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="diciembreContK" name="diciembreContK" type="text" value="0,00">',
          "classes": "text-right"
        }
      ],
      [
        {
          "html": 'c) Aceptado en el año',
          "classes": "sticky left-0 w-60 bg-white align-middle"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="aceptadoVol" name="aceptadoVol" type="text" disabled="" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="aceptadoContN" name="aceptadoContN" type="text" disabled="" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="aceptadoContP" name="aceptadoContP" type="text" disabled="" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="aceptadoContK" name="aceptadoContK" type="text" disabled="" value="0,00">',
          "classes": "text-right"
        }
      ],
      [
        {
          "html": 'd) Gestión final realizada en el año',
          "classes": "sticky left-0 w-80 bg-white align-middle"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="finalVol" name="finalVol" type="text" disabled="" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="finalContN" name="finalContN" type="text" disabled="" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="finalContP" name="finalContP" type="text" disabled="" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="finalContK" name="finalContK" type="text" disabled="" value="0,00">',
          "classes": "text-right"
        }
      ]
    ],
    "wrapper": {
      "classes": "overflow-x-auto pb-base"
    },
    "classes": "relative w-full"
  })  }}
{% endset %}
{% set aceptaciones %}
  <h2 class="c-h2">Aceptaciones de estiércoles</h2>
  <section aria-labelledby="aceptaciones">
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>La primera columna contiene enlaces de acceso y edición a los items.</p>
          <p>Puedes realizar acciones sobre cada item mediante los botones situados en la última columna.</p>
          <p>Puedes realizar más acciones sobre el listado mediante los botones situados encima de la tabla.</p>
        </div>
    {% endcall %}
    <p class="mb-sm font-bold">Datos identificativos de cada Aceptación:</p>
    {# Barra de Acciones #}
    <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-items">
      <h3 id="acciones-items" class="sr-only">Acciones sobre la tabla de items</h3>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {{ componentMenubar({
          "id": "actions-table-menubar",
          "idPrefix": "actions-table",
          "ariaLabel":"Acciones sobre los items seleccionados de la tabla",
          "items": [
            {
              "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-1.5" aria-hidden="true" focusable="false" width="1.4em" height="1.4em"><path d="M117.658 30.45a2.975 2.975 0 0 0-1.925-1.633 2.8 2.8 0 0 0-2.508.525c-9.742 7.35-18.608 5.308-28 11.666a16.042 16.042 0 0 0-7.992 12.659 12.367 12.367 0 0 0 2.217 6.941 2.858 2.858 0 0 1 0 3.092c-1.108 1.925-2.158 3.967-3.092 5.833a1.517 1.517 0 0 1-1.4.817 1.458 1.458 0 0 1-1.283-.992 77.175 77.175 0 0 0-7.467-14.875 2.975 2.975 0 0 1 .875-3.966 17.5 17.5 0 0 0 8.284-10.734 22.108 22.108 0 0 0-6.709-19.075A39.083 39.083 0 0 0 48.475 9.975 51.858 51.858 0 0 1 28.7.7a2.917 2.917 0 0 0-4.492.875c-8.05 15.167-4.258 42.875 4.55 53.258 5.017 5.834 12.367 11.667 20.067 10.675a14.117 14.117 0 0 0 2.975-.816A2.917 2.917 0 0 0 53.433 63a2.858 2.858 0 0 0 0-2.392 140 140 0 0 0-17.5-24.733 2.917 2.917 0 1 1 4.375-3.85c21.525 24.733 28.292 45.5 29.984 64.167a2.8 2.8 0 0 1-.759 2.275 2.858 2.858 0 0 1-2.158.933H57.05a8.808 8.808 0 0 0-7.117 3.617 8.633 8.633 0 0 0-1.166 7.816l6.416 19.367a14.583 14.583 0 0 0 13.825 9.8h12.659a14.583 14.583 0 0 0 13.825-9.975l6.183-19.192a8.75 8.75 0 0 0-8.342-11.666H82.075a2.917 2.917 0 0 1-2.858-2.625c0-1.809-.409-3.967-.7-6.359a5.833 5.833 0 0 1 0-2.566C82.892 74.025 91 56.875 103.192 50.575a2.922 2.922 0 0 1 2.683 5.192 39.375 39.375 0 0 0-14.117 15.75 2.858 2.858 0 0 0 0 2.391 3.208 3.208 0 0 0 1.575 1.925 11.258 11.258 0 0 0 2.45.7A18.667 18.667 0 0 0 112 69.825a42.758 42.758 0 0 0 5.658-39.375Z" fill="currentColor"/></svg>Importar de GEMA',
              "ariaLabel": "ImportarGEMA",
              "id": "actions-table-item-2",
              "classes": "c-menubar__button--sm mb-sm mr-sm",
              "href": "#"
            },
            {
              "html": 'Añadir',
              "ariaLabel": "Añadir",
              "id": "actions-table-item-1",
              "classes": "c-menubar__button--primary c-menubar__button--sm mb-sm mr-sm",
              "href": "#"
            }
          ],
          "attributes": {
            "aria-label": "Acciones de la tabla"
          }
        })  }}
      </div>
    </section>
    {# fin Barra de Acciones #}
    {# Tabla-Listado de items #}
    <div class="max-w-full overflow-x-auto">
      {{ componentTableAdvanced({
        "idPrefix": "listado-aceptaciones",
        "caption": "Listado de Aceptaciones",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "head": [
          {
            "html": '<abbr title="Número">Nº</abbr> Orden'
          },
          {
            "html": 'Fecha'
          },
          {
            "html": infoIdentificacion
          },
          {
            "html": 'Nombre/Razón social'
          },
          {
            "html": 'Volumen (m3)',
            "classes": "text-right"
          },
          {
            "html": 'N (Kg)',
            "classes": "text-right"
          },
          {
            "html": 'P (Kg)',
            "classes": "text-right"
          },
          {
            "html": 'K (Kg)',
            "classes": "text-right"
          },
          {
            "html": '<span id="acciones" class="sr-only">Acciones</span>'
          }
        ],
        "rows": [
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">2021-10-0324827</a>',
              "attributes": {
                "id": "item1"
              }
            },
            {
              "html": '17/07/2021'
            },
            {
              "html": '612387'
            },
            {
              "html": 'Navarro Moreno'
            },
            {
              "html": '10000',
              "classes": "text-right"
            },
            {
              "html": '1450',
              "classes": "text-right"
            },
            {
              "html": '800',
              "classes": "text-right"
            },
            {
              "html": '1200',
              "classes": "text-right"
            },
            {
              "html": botonEliminar,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">2021-09-8270324</a>',
              "attributes": {
                "id": "item2"
              }
            },
            {
              "html": '23/05/2021'
            },
            {
              "html": '419685'
            },
            {
              "html": 'La Torre Modrego S.L.'
            },
            {
              "html": '99000',
              "classes": "text-right"
            },
            {
              "html": '900',
              "classes": "text-right"
            },
            {
              "html": '1100',
              "classes": "text-right"
            },
            {
              "html": '1375',
              "classes": "text-right"
            },
            {
              "html": botonEliminar,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">2021-10-2480327</a>',
              "attributes": {
                "id": "item3"
              }
            },
            {
              "html": '08/02/2021'
            },
            {
              "html": '589647'
            },
            {
              "html": 'Aznar Vilches'
            },
            {
              "html": '57000',
              "classes": "text-right"
            },
            {
              "html": '1230',
              "classes": "text-right"
            },
            {
              "html": '940',
              "classes": "text-right"
            },
            {
              "html": '880',
              "classes": "text-right"
            },
            {
              "html": botonEliminar,
              "classes": "text-center"
            }
          ]
        ],
        "wrapper": {
          "classes": "relative overflow-x-auto pb-base"
        },
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de items #}
  </section>
  {{ componentCheckboxes({
    "idPrefix": "declaracion-sin-entregas",
    "name": "declaracion-sin-entregas",
    "items": [
      {
        "value": "permitir-declaracion-sin-entregas",
        "text": "Permitir declaración sin aceptaciones",
        "classes": "font-semibold"
      }
    ]
  })  }}
  {# Añadir Aceptacion - Aparecerá sólo cuando cliquemos el boton de Añadir en el listado #}
  <div class="bg-neutral-light mb-base p-base rounded">
    <fieldset>
      <legend class="font-bold mb-sm">Añadir Aceptación</legend>
      <div class="grid md:grid-cols-4 gap-x-7">
        {{ componentInput({
          "label": {
            "text": "Número de Orden"
          },
          "id": "num-orden",
          "name": "num-orden",
          "classes": "w-full",
          "placeholder": "Escriba el número de orden..."
        })  }}
        {{ componentDateInput({
          "id": "fecha",
          "namePrefix": "fecha",
          "fieldset": {
            "legend": {
              "html": 'Fecha',
              "classes": "font-normal"
            }
          },
          "classes": "text-sm",
          "items": [
            {
              "classes": "w-14",
              "attributes": {
                "placeholder": "día",
                "maxlength": "2"
              }
            },
            {
              "classes": "w-14",
              "attributes": {
                "placeholder": "mes",
                "maxlength": "2"
              }
            },
            {
              "classes": "w-20",
              "attributes": {
                "placeholder": "año",
                "maxlength": "4"
              }
            }
          ]
        })  }}
        {{ componentInput({
          "label": {
            "html": infoIdentificacion
          },
          "id": "identificacion",
          "name": "identificacion",
          "classes": "w-full",
          "placeholder": "Escriba el código identificativo..."
        })  }}
        {{ componentInput({
          "label": {
            "text": "Nombre/Razón social"
          },
          "id": "nombre-razon-social",
          "name": "nombre-razon-social",
          "classes": "w-full",
          "placeholder": "Escriba el nombre..."
        })  }}
        {{ componentInput({
          "label": {
            "text": "Volumen (m3)"
          },
          "id": "volumen",
          "name": "volumen",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        {{ componentInput({
          "label": {
            "text": "Contenido en N (Kg)"
          },
          "id": "contenido-n",
          "name": "contenido-n",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        {{ componentInput({
          "label": {
            "text": "Contenido en P (Kg)"
          },
          "id": "contenido-p",
          "name": "contenido-p",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        {{ componentInput({
          "label": {
            "text": "Contenido en K (Kg)"
          },
          "id": "contenido-k",
          "name": "contenido-k",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        <div class="md:col-span-4">
          {{ componentButton({
            "text": "Cancelar",
            "classes": "mr-xs"
          })  }}
          {{ componentButton({
            "text": "Añadir al listado",
            "classes": "c-button--primary"
          })  }}
        </div>        
      </div>
    </fieldset>
  </div>
{% endset %}
{% set entregas %}
  <h2 class="c-h2">Entregas a gestores de residuos autorizados</h2>
  <section aria-labelledby="entregas">
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable2">
          <p>La primera columna contiene enlaces de acceso y edición a los items.</p>
          <p>Puedes realizar acciones sobre cada item mediante los botones situados en la última columna.</p>
          <p>Puedes realizar más acciones sobre el listado mediante los botones situados encima de la tabla.</p>
        </div>
    {% endcall %}
    <p class="mb-sm font-bold">Se han entregado las cantidades siguientes de estiércoles a gestores de residuos autorizados (si es el caso):</p>
    {# Barra de Acciones #}
    <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-items2">
      <h3 id="acciones-items2" class="sr-only">Acciones sobre la tabla de items</h3>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {{ componentMenubar({
          "id": "actions-table2-menubar",
          "idPrefix": "actions-table2",
          "ariaLabel":"Acciones sobre los items seleccionados de la tabla",
          "items": [
            {
              "html": 'Añadir',
              "ariaLabel": "Añadir",
              "id": "actions-table2-item-1",
              "classes": "c-menubar__button--primary c-menubar__button--sm mb-sm mr-sm",
              "href": "#"
            }
          ],
          "attributes": {
            "aria-label": "Acciones de la tabla"
          }
        })  }}
      </div>
    </section>
    {# fin Barra de Acciones #}
    {# Tabla-Listado de items #}
    <div class="max-w-full overflow-x-auto">
      {{ componentTableAdvanced({
        "idPrefix": "listado-entregas",
        "caption": "Listado de entregas",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable2"
        },
        "head": [
          {
            "html": '<abbr title="Número">Nº</abbr> Orden'
          },
          {
            "html": 'Fecha'
          },
          {
            "html": 'NIMA/SANDACH'
          },
          {
            "html": 'Razón social/Denominación'
          },
          {
            "html": 'Volumen (m3)',
              "classes": "text-right"
          },
          {
            "html": 'N (Kg)',
              "classes": "text-right"
          },
          {
            "html": 'P (Kg)',
              "classes": "text-right"
          },
          {
            "html": 'K (Kg)',
              "classes": "text-right"
          },
          {
            "html": '<span id="acciones" class="sr-only">Acciones</span>'
          }
        ],
        "rows": [
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">2021-09-0327321</a>',
              "attributes": {
                "id": "item4"
              }
            },
            {
              "html": '13/03/2021'
            },
            {
              "html": '568921'
            },
            {
              "html": 'Recolecciones Aragón S.L.'
            },
            {
              "html": '61000',
              "classes": "text-right"
            },
            {
              "html": '1650',
              "classes": "text-right"
            },
            {
              "html": '1040',
              "classes": "text-right"
            },
            {
              "html": '990',
              "classes": "text-right"
            },
            {
              "html": botonEliminar,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">2021-06-7321987</a>',
              "attributes": {
                "id": "item5"
              }
            },
            {
              "html": '21/01/2021'
            },
            {
              "html": '258943'
            },
            {
              "html": 'Residuos Alfranca S.L.'
            },
            {
              "html": '28000',
              "classes": "text-right"
            },
            {
              "html": '750',
              "classes": "text-right"
            },
            {
              "html": '640',
              "classes": "text-right"
            },
            {
              "html": '590',
              "classes": "text-right"
            },
            {
              "html": botonEliminar,
              "classes": "text-center"
            }
          ]
        ],
        "wrapper": {
          "classes": "relative overflow-x-auto pb-base"
        },
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de items #}
  </section>
  {# Añadir Entrega - Aparecerá sólo cuando cliquemos el boton de Añadir en el listado #}
  <div class="bg-neutral-light my-base p-base rounded">
    <fieldset>
      <legend class="font-bold mb-sm">Añadir Entrega</legend>
      <div class="grid md:grid-cols-4 gap-x-7">
        {{ componentInput({
          "label": {
            "text": "Número de Orden"
          },
          "id": "num-orden2",
          "name": "num-orden2",
          "classes": "w-full",
          "placeholder": "Escriba el número de orden..."
        })  }}
        {{ componentDateInput({
          "id": "fecha2",
          "namePrefix": "fecha2",
          "fieldset": {
            "legend": {
              "html": 'Fecha',
              "classes": "font-normal"
            }
          },
          "classes": "text-sm",
          "items": [
            {
              "classes": "w-14",
              "attributes": {
                "placeholder": "día",
                "maxlength": "2"
              }
            },
            {
              "classes": "w-14",
              "attributes": {
                "placeholder": "mes",
                "maxlength": "2"
              }
            },
            {
              "classes": "w-20",
              "attributes": {
                "placeholder": "año",
                "maxlength": "4"
              }
            }
          ]
        })  }}
        {{ componentInput({
          "label": {
            "text": "NIMA/SANDACH"
          },
          "id": "nima-sandach",
          "name": "nima-sandach",
          "classes": "w-full",
          "placeholder": "Escriba el código..."
        })  }}
        {{ componentInput({
          "label": {
            "text": "Razón social/Denominación"
          },
          "id": "razon-social-denominacion",
          "name": "razon-social-denominacion",
          "classes": "w-full",
          "placeholder": "Escriba el nombre..."
        })  }}
        {{ componentInput({
          "label": {
            "text": "Volumen (m3)"
          },
          "id": "volumen2",
          "name": "volumen2",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        {{ componentInput({
          "label": {
            "text": "Contenido en N (Kg)"
          },
          "id": "contenido-n2",
          "name": "contenido-n2",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        {{ componentInput({
          "label": {
            "text": "Contenido en P (Kg)"
          },
          "id": "contenido-p2",
          "name": "contenido-p2",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        {{ componentInput({
          "label": {
            "text": "Contenido en K (Kg)"
          },
          "id": "contenido-k2",
          "name": "contenido-k2",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        <div class="md:col-span-4">
          {{ componentButton({
            "text": "Cancelar",
            "classes": "mr-xs"
          })  }}
          {{ componentButton({
            "text": "Añadir al listado",
            "classes": "c-button--primary"
          })  }}
        </div>        
      </div>
    </fieldset>
  </div>
{% endset %}
{% set terrenos %}
  <h2 class="c-h2">Estiércoles destinados a terrenos agrícolas</h2>
  <p class="mb-sm font-bold">Se han utilizado los siguientes estiércoles como fertilizantes o enmiendas orgánicas:</p>
  {{ componentTable({
    "caption": "Resumen sin comercialización (calculando con los datos reflejados a continuación)",
    "head": [
      {
        "html": 'Volumen (m3)',
        "classes": "text-right"
      },
      {
        "html": 'Contenido en N (Kg)',
        "classes": "text-right"
      },
      {
        "html": 'Contenido en P (Kg)',
        "classes": "text-right"
      },
      {
        "html": 'Contenido en K (Kg)',
        "classes": "text-right"
      }
    ],
    "rows": [
      [
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="eneroVol" name="eneroVol" type="text" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="eneroContN" name="eneroContN" type="text" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="eneroContP" name="eneroContP" type="text" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="eneroContK" name="eneroContK" type="text" value="0,00">',
          "classes": "text-right"
        }
      ]
    ],
    "wrapper": {
      "classes": "overflow-x-auto pb-base"
    },
    "classes": "relative w-full"
  })  }}
  <section aria-labelledby="entregas-terrenos" class="mt-lg">
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable3">
          <p>La primera columna contiene enlaces de acceso y edición a los items.</p>
          <p>Puedes realizar acciones sobre cada item mediante los botones situados en la última columna.</p>
          <p>Puedes realizar más acciones sobre el listado mediante los botones situados encima de la tabla.</p>
        </div>
    {% endcall %}
    <p class="mb-sm font-bold">Los estiércoles utilizados como fertilizantes o enmienda orgánica se han destinado a los siguientes terrenos agrícolas:</p>
    {# Barra de Acciones #}
    <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-items3">
      <h3 id="acciones-items3" class="sr-only">Acciones sobre la tabla de items</h3>
      <div class="flex lg:items-start lg:ml-auto lg:pl-base">
        {{ componentMenubar({
          "id": "actions-table3-menubar",
          "idPrefix": "actions-table3",
          "ariaLabel":"Acciones sobre los items seleccionados de la tabla",
          "items": [
            {
              "html": 'Añadir',
              "ariaLabel": "Añadir",
              "id": "actions-table3-item-1",
              "classes": "c-menubar__button--primary c-menubar__button--sm mb-sm mr-sm",
              "href": "#"
            }
          ],
          "attributes": {
            "aria-label": "Acciones de la tabla"
          }
        })  }}
      </div>
    </section>
    {# fin Barra de Acciones #}
    {# Tabla-Listado de items #}
    <div class="max-w-full overflow-x-auto">
      {{ componentTableAdvanced({
        "idPrefix": "listado-entregas-terrenos",
        "caption": "Listado de entregas destinadas a terrenos",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable3"
        },
        "head": [
          {
            "html": '<abbr title="Número">Nº</abbr> Orden'
          },
          {
            "html": 'Fecha'
          },
          {
            "html": 'NIF/CIF Propietario'
          },
          {
            "html": 'Nombre/Razón social'
          },
          {
            "html": 'Volumen (m3)',
              "classes": "text-right"
          },
          {
            "html": 'N (Kg)',
              "classes": "text-right"
          },
          {
            "html": 'P (Kg)',
              "classes": "text-right"
          },
          {
            "html": 'K (Kg)',
              "classes": "text-right"
          },
          {
            "html": 'Cálculo N',
              "classes": "text-right"
          },
          {
            "html": 'Metodología'
          },
          {
            "html": 'Resultado',
              "classes": "text-right"
          },
          {
            "html": '<span id="acciones" class="sr-only">Acciones</span>'
          }
        ],
        "rows": [
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">2021-09-0327321</a>',
              "attributes": {
                "id": "item11"
              }
            },
            {
              "html": '13/03/2021'
            },
            {
              "html": '12345678N'
            },
            {
              "html": 'Fincas Alfa S.L.'
            },
            {
              "html": '61000',
              "classes": "text-right"
            },
            {
              "html": '1650',
              "classes": "text-right"
            },
            {
              "html": '1040',
              "classes": "text-right"
            },
            {
              "html": '990',
              "classes": "text-right"
            },
            {
              "html": '00000',
              "classes": "text-right"
            },
            {
              "html": 'Lorem ipsum'
            },
            {
              "html": '000000',
              "classes": "text-right"
            },
            {
              "html": botonEliminar,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">2021-09-0327322</a>',
              "attributes": {
                "id": "item12"
              }
            },
            {
              "html": '13/03/2021'
            },
            {
              "html": '12345678N'
            },
            {
              "html": 'Fincas Beta S.L.'
            },
            {
              "html": '51000',
              "classes": "text-right"
            },
            {
              "html": '1860',
              "classes": "text-right"
            },
            {
              "html": '1180',
              "classes": "text-right"
            },
            {
              "html": '880',
              "classes": "text-right"
            },
            {
              "html": '00000',
              "classes": "text-right"
            },
            {
              "html": 'Lorem ipsum'
            },
            {
              "html": '000000',
              "classes": "text-right"
            },
            {
              "html": botonEliminar,
              "classes": "text-center"
            }
          ]
        ],
        "wrapper": {
          "classes": "relative overflow-x-auto pb-base"
        },
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de items #}
  </section>
  {# Añadir Entrega - Aparecerá sólo cuando cliquemos el boton de Añadir en el listado #}
  <div class="bg-neutral-light my-base p-base rounded">
    <fieldset>
      <legend class="font-bold mb-sm">Añadir Entrega</legend>
      <div class="grid md:grid-cols-4 gap-x-7">
        {{ componentInput({
          "label": {
            "text": "Número de Orden"
          },
          "id": "num-orden3",
          "name": "num-orden3",
          "classes": "w-full",
          "placeholder": "Escriba el número de orden..."
        })  }}
        {{ componentDateInput({
          "id": "fecha3",
          "namePrefix": "fecha3",
          "fieldset": {
            "legend": {
              "html": 'Fecha',
              "classes": "font-normal"
            }
          },
          "classes": "text-sm",
          "items": [
            {
              "classes": "w-14",
              "attributes": {
                "placeholder": "día",
                "maxlength": "2"
              }
            },
            {
              "classes": "w-14",
              "attributes": {
                "placeholder": "mes",
                "maxlength": "2"
              }
            },
            {
              "classes": "w-20",
              "attributes": {
                "placeholder": "año",
                "maxlength": "4"
              }
            }
          ]
        })  }}
        {{ componentInput({
          "label": {
            "text": "NIF/CIF Porpietario"
          },
          "id": "nif-cif",
          "name": "nif-cif",
          "classes": "w-full",
          "placeholder": "Escriba el número..."
        })  }}
        {{ componentInput({
          "label": {
            "text": "Nombre/Razón social"
          },
          "id": "nombre-razon-social3",
          "name": "nombre-razon-social3",
          "classes": "w-full",
          "placeholder": "Escriba el nombre..."
        })  }}
        {{ componentInput({
          "label": {
            "text": "Volumen (m3)"
          },
          "id": "volumen3",
          "name": "volumen3",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        {{ componentInput({
          "label": {
            "text": "Contenido en N (Kg)"
          },
          "id": "contenido-n3",
          "name": "contenido-n3",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        {{ componentInput({
          "label": {
            "text": "Contenido en P (Kg)"
          },
          "id": "contenido-p4",
          "name": "contenido-p4",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        {{ componentInput({
          "label": {
            "text": "Contenido en K (Kg)"
          },
          "id": "contenido-k4",
          "name": "contenido-k4",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        {{ componentInput({
          "label": {
            "text": "Cáculo N"
          },
          "id": "calculo-n",
          "name": "calculo-n",
          "classes": "w-full",
          "placeholder": "0,00"
        })  }}
        {{ componentInput({
          "label": {
            "text": "Metodología"
          },
          "id": "metodologia",
          "name": "metodologia",
          "classes": "w-full",
          "placeholder": "Escriba la metodología..."
        })  }}
        {{ componentInput({
          "label": {
            "text": "Resultado"
          },
          "id": "resultado",
          "name": "resultado",
          "classes": "w-full",
          "value": "000000",
          "disabled": true
        })  }}
        <section aria-labelledby="parcelas" class="mb-xl md:col-span-4">
          {# Instrucciones de funcionamiento de la tabla #}
          {% call componentDetails({
            "summary": {
              "html": "Acerca de esta tabla"
            },
            "classes": "mb-xs text-sm"
          })  %}
              <div id="descTable4">
                <p>La primera columna contiene enlaces de acceso y edición a los items.</p>
                <p>Puedes realizar acciones sobre cada item mediante los botones situados en la última columna.</p>
                <p>Puedes realizar más acciones sobre el listado mediante los botones situados encima de la tabla.</p>
              </div>
          {% endcall %}
          {# Barra de Acciones #}
          <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-items4">
            <h3 id="acciones-items4" class="sr-only">Acciones sobre la tabla de items</h3>
            <div class="flex lg:items-start lg:ml-auto lg:pl-base">
              {{ componentMenubar({
                "id": "actions-table4-menubar",
                "idPrefix": "actions-table4",
                "ariaLabel":"Acciones sobre los items seleccionados de la tabla",
                "items": [
                  {
                    "html": 'Insertar Parcela',
                    "ariaLabel": "Insertar Parcela",
                    "id": "actions-table4-item-1",
                    "classes": "c-menubar__button--primary c-menubar__button--sm mb-sm mr-sm",
                    "href": "#"
                  }
                ],
                "attributes": {
                  "aria-label": "Acciones de la tabla",
                  "onclick": "openDialog('modal2', this, 'nueva-parcela')"
                }
              })  }}
            </div>
          </section>
          {# fin Barra de Acciones #}
          {# Tabla-Listado de items #}
          <div class="max-w-full overflow-x-auto">
            {{ componentTableAdvanced({
              "idPrefix": "listado-parcelas",
              "caption": "Listado de parcelas",
              "attributes": {
                "aria-describedby": "descTable4"
              },
              "head": [
                {
                  "html": 'Entrega <abbr title="número">Nº</abbr>'
                },
                {
                  "html": '<abbr title="Provincia">Prov.</abbr> Catastral'
                },
                {
                  "html": '<abbr title="Muncipio">Mun.</abbr> Catastral'
                },
                {
                  "html": 'Agregado'
                },
                {
                  "html": 'Zona'
                },
                {
                  "html": 'Polígono'
                },
                {
                  "html": 'Parcela'
                },
                {
                  "html": 'Recinto'
                },
                {
                  "html": 'Superficie',
                  "classes": "text-right"
                },
                {
                  "html": 'Volumen m3',
                  "classes": "text-right"
                },
                {
                  "html": 'Kg N',
                  "classes": "text-right"
                },
                {
                  "html": '<span id="acciones" class="sr-only">Acciones</span>'
                }
              ],
              "rows": [
                [
                  {
                    "html": '<a href="#" onclick="openDialog(`modal2`, this, `nueva-parcela`)" class="c-link font-semibold whitespace-nowrap">2021-09-1</a>',
                    "attributes": {
                      "id": "item111"
                    }
                  },
                  {
                    "html": ''
                  },
                  {
                    "html": ''
                  },
                  {
                    "html": '0'
                  },
                  {
                    "html": '0'
                  },
                  {
                    "html": ''
                  },
                  {
                    "html": ''
                  },
                  {
                    "html": '0'
                  },
                  {
                    "html": '0,00',
                    "classes": "text-right"
                  },
                  {
                    "html": '0,00',
                    "classes": "text-right"
                  },
                  {
                    "html": '0,000',
                    "classes": "text-right"
                  },
                  {
                    "html": botonEliminar,
                    "classes": "text-center"
                  }
                ]
              ],
              "wrapper": {
                "classes": "relative overflow-x-auto pb-base"
              },
              "classes": "min-w-full"
            })  }}
          </div>
          {# fin Tabla-Listado de items #}
        </section>
        <div class="md:col-span-4">
          {{ componentButton({
            "text": "Cancelar",
            "classes": "mr-xs"
          })  }}
          {{ componentButton({
            "text": "Añadir al listado",
            "classes": "c-button--primary"
          })  }}
        </div>        
      </div>
    </fieldset>
  </div>
{% endset %}
{% set fertilizantes %}
  <h2 class="c-h2">Fertilizantes producidos</h2>
  {{ componentTable({
    "caption": "Cantidad de productos fertilizantes producidos comercializados o destinados a su comercialización, autorizados y registrados de acuerdo a lo dispuesto en el artículo 21 y siguientes del Real Decreto 506/2013, del 28 de junio, sobre productos fertilizantes, o bajo el ámbito de aplicación del Real Decreto 865/2010 sobre sustratos de cultivo:",
    "captionClasses": "text-left font-bold mb-sm",
    "head": [
      {
        "html": 'Volumen (m3)',
        "classes": "text-right"
      },
      {
        "html": 'Contenido en N (Kg)',
        "classes": "text-right"
      },
      {
        "html": 'Contenido en P (Kg)',
        "classes": "text-right"
      },
      {
        "html": 'Contenido en K (Kg)',
        "classes": "text-right"
      }
    ],
    "rows": [
      [
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="eneroVol" name="eneroVol" type="text" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="eneroContN" name="eneroContN" type="text" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="eneroContP" name="eneroContP" type="text" value="0,00">',
          "classes": "text-right"
        },
        {
          "html": '<input class="c-input--sm block border-black rounded font-semibold placeholder-neutral-dark focus:border-black focus:shadow-outline-focus-input focus:ring-4 focus:ring-warning-base disabled:bg-neutral-light disabled:border-neutral-base w-full text-right float-right" id="eneroContK" name="eneroContK" type="text" value="0,00">',
          "classes": "text-right"
        }
      ]
    ],
    "wrapper": {
      "classes": "overflow-x-auto pb-base"
    },
    "classes": "relative w-full"
  })  }}
{% endset %}
{% set variaciones %}
  <h2 class="c-h2">Variaciones anuales de estiércoles</h2>
  <p>Declara que:</p>
  {{ componentCheckboxes({
    "idPrefix": "variaciones-anuales",
    "name": "variaciones-anuales",
    "items": [
      {
        "value": "variacion-igual",
        "text": "La variación anual de cantidades almacenadas, (en volumen y en nitrógeno) es igual al balance de masas anual, en función de los tratamientos realizados"
      },
      {
        "value": "variacion-diferencias",
        "text": "Las posibles diferencias entre la variación anual de cantidades almacenadas y el balance de masas anual, en función de los tratamientos realizados está justificada",
        "conditional": {
          "html": justificacionVariacion
        }
      }
    ]
  })  }}
{% endset %}
{% set observaciones %}
  <h2 class="c-h2">Observaciones de la declaración</h2>
  {{ componentTextarea({
    "name": "observaciones",
    "id": "observaciones",
    "formGroup": {
      "classes": "mb-xs"
    },
    "label": {
      "text": "Observaciones",
      "classes": "sr-only"
    },
    "classes": "w-full",
    "rows": 8,
    "placeholder": "Escriba aquí sus observaciones..."
  })  }}
  <div class="pb-lg"></div><!--espaciador-->
  <h3 class="c-h3">¿Cómo nos pondremos en contacto contigo una vez presentado tu trámite?</h3>
  <p class="c-paragraph-base">Nos comunicaremos contigo de forma electrónica.</p>
  <div class="flex flex-wrap ml-sm mr-lg mb-sm">
    <div class="h-full mr-sm">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-5 h-5 ml-xs text-success-dark" aria-label="Éxito" focusable="false" role="img"><path d="M39.94 125a19.88 19.88 0 01-15.53-7.81L2.48 92.26a10 10 0 0115-13.2l20.55 23.39a2.5 2.5 0 003.68.08l81-84.42a10.002 10.002 0 1114.5 13.78l-82.02 86.33A19.41 19.41 0 0139.94 125z" fill="currentColor"></path></svg>
    </div>
    <div class="lg:flex flex-1 self-center">
      <p>Podrás consultar las notificaciones electrónicas en la <a href="#" class="c-link">carpeta ciudadana del Gobierno de España</a> o en el <a href="#" class="c-link">servicio de notificaciones electrónicas del Gobierno de Aragón</a></p>
    </div>
  </div>
  {{ componentCheckboxes({
    "idPrefix": "relacion-electronica",
    "name": "relacion-electronica",
    "items": [
      {
        "value": "notificion-papel",
        "text": "No estoy obligado a relacionarme electrónicamente con la Administración y deseo recibir mis comunicaciones o notificaciones en papel además de en soporte electrónico",
        "conditional": {
          "html": direccionPostal
        }
      }
    ]
  })  }}
{% endset %}


{# Cabecera #}
{% block headerTitleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="self-start mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="m77.154 85.876-28 4.942 4.942-28L107.24 9.8a9.296 9.296 0 0 1 13.16 0l9.87 9.87a9.296 9.296 0 0 1 0 13.16Z" stroke-width="14"/><path d="M119 94.038V123.2a9.8 9.8 0 0 1-9.926 9.8H16.926A9.8 9.8 0 0 1 7 123.2V30.8a9.8 9.8 0 0 1 9.926-9.8H46.69" stroke-width="14"/></g></svg>
{% endblock %}
{% block headerTitleEditBlock %}
  <h1 class="uppercase">
    Detalle Centro
    <span class="c-h3 block normal-case">S50095002</span>
  </h1>
{% endblock %}
{% block headerActionsEditBlock %}
  <nav aria-labelledby="acciones-de-cabecera">
    <p class="sr-only" id="acciones-de-cabecera">Menú de acciones</p>
    <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
      <li>
        {{ componentButton({
          "text": "Guardar",
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver a Declaración',
          "classes": "c-button--transparent",
          "href": "#"
        })  }}
      </li>
    </ul>
  </nav>
{% endblock %}

{# Contenido de página #}
{% block contentBlock %}
  {{ componentTabs({
    "tablistAriaLabel": "Pestañas Centro",
    "idPrefix": "pestañas-centro",
    "classes": "my-sm",
    "items": [
      {
        "text": "Composición",
        "panel": {
        "html": composicion
        }
      },
      {
        "text": "Volúmenes",
        "panel": {
          "html": volumenes
        }
      },
      {
        "text": "Aceptaciones",
        "panel": {
          "html": aceptaciones
        }
      },
      {
        "text": "Entregas",
        "panel": {
          "html": entregas
        }
      },
      {
        "text": "Terrenos",
        "panel": {
          "html": terrenos
        }
      },
      {
        "text": "Fertilizantes",
        "panel": {
          "html": fertilizantes
        }
      },
      {
        "text": "Variaciones",
        "panel": {
          "html": variaciones
        }
      },
      {
        "text": "Observaciones",
        "panel": {
          "html": observaciones
        }
      }
    ]
  })  }}


  <!-- modal 1 -->
  <div class="dialog-backdrop">
    <div id="modal1" class="hidden" role="dialog" aria-labelledby="info-identificacion" aria-modal="true">
      <div id="modal-info-identificacion" class="relative max-w-lg lg:max-w-xl lg:w-xl mx-auto p-base lg:p-lg border border-neutral-base rounded bg-white mt-2xl">
        <h2 id="info-identificacion" class="c-h2 px-base text-center focus:outline-none focus:underline" tabindex="-1">Identificación de la Aceptación</h2>
        <div class="mb-sm pr-sm">
          <h3 class="font-bold mb-xs pt-xs">Código de identificación de procedencia de la Aceptación</h3>
          <p>Introduzca el identificador del origen de la aceptación con estas prioridades:</p>
          <dl class="my-base py-sm border-t border-b border-neutral-base text-left">
            <dt class="font-semibold">
              Código REGA de la explotación ganadera de origen si es el caso
            </dt>
            <dd class="text-sm text-neutral-dark">
              (ES + 2 dígitos provincia + 3 dígitos municipio INE + 7 dígitos identificativos)
            </dd>
            <dt class="font-semibold">
              Código SANDACH del origen
            </dt>
            <dd class="text-sm text-neutral-dark">
              (S + 2 dígitos provincia + 3 dígitos municipio INE + 3 dígitos correlativo)
            </dd>
          </dl>
          <p class="italic">NOTA: La inclusión en este apartado de un código REGA de una explotación no presupone la realización de la declaración de gestión de estiércoles por parte del ganadero</p>
        </div>
        <div class="flex flex-wrap w-full justify-center">
          <div class="mt-sm">
            <button class="c-button" onclick="closeDialog(this)">Aceptar</button>
          </div>
        </div>
        <div class="absolute top-0 right-0 p-sm lg:p-base">
          <button onclick="closeDialog(this)" class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-label="X: Cerrar la ventana emergente">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /modal 1 -->

  <!-- modal 2 -->
  <div class="dialog-backdrop">
    <div id="modal2" class="hidden" role="dialog" aria-labelledby="nueva-parcela" aria-modal="true">
      <div id="modal-nueva-parcela" class="relative max-w-lg lg:max-w-4xl mx-auto p-base lg:p-lg border border-neutral-base rounded bg-white mt-2xl">
        <h2 id="nueva-parcela" class="c-h2 px-base text-center focus:outline-none focus:underline" tabindex="-1">Alta Parcela / Recintos AAI</h2>
        <div class="grid md:grid-cols-3 gap-x-3">
          {{ componentInput({
            "formGroup": {
              "classes": "mb-base"
            },
            "label": {
              "text": "Nº Orden Entrega",
              "classes": "text-sm"
            },
            "id": "num-orden-entrega",
            "name": "num-orden-entrega",
            "classes": "w-full c-input--sm mt-xs",
            "placeholder": "2021-09-1",
            "disabled": true
          })  }}
          {{ componentInput({
            "formGroup": {
              "classes": "mb-base"
            },
            "label": {
              "text": "Centro de Origen",
              "classes": "text-sm"
            },
            "id": "centro-origen",
            "name": "centro-origen",
            "classes": "w-full c-input--sm mt-xs",
            "placeholder": "2200023839",
            "disabled": true
          })  }}
          {{ componentInput({
            "formGroup": {
              "classes": "mb-base"
            },
            "label": {
              "text": "NIF Propietario parcela",
              "classes": "text-sm"
            },
            "id": "nif-propietario",
            "name": "nif-propietario",
            "classes": "w-full c-input--sm mt-xs",
            "placeholder": "12345678N",
            "disabled": true
          })  }}
        </div>
        <div class="grid md:grid-cols-4 gap-x-3">  
          {{ componentSelect({
            "formGroup": {
              "classes": "mb-base"
            },
            "id": "provincia",
            "name": "provincia",
            "classes": "w-full c-select--sm mt-xs",
            "label": {
              "text": "Provincia Catastral",
              "classes": "text-sm"
            },
            "items": [
              {
                "value": 0,
                "text": "00"
              },
              {
                "value": 1,
                "text": "Option 1"
              }
            ]
          })  }}
          {{ componentSelect({
            "formGroup": {
              "classes": "mb-base"
            },
            "id": "municipio",
            "name": "municipio",
            "classes": "w-full c-select--sm mt-xs",
            "label": {
              "text": "Municipio Catastral",
              "classes": "text-sm"
            },
            "items": [
              {
                "value": 0,
                "text": "00"
              },
              {
                "value": 1,
                "text": "Option 1"
              }
            ]
          })  }}
          {{ componentInput({
            "formGroup": {
              "classes": "mb-base"
            },
            "label": {
              "text": "Agregado",
              "classes": "text-sm"
            },
            "id": "agregado",
            "name": "agregado",
            "classes": "w-full c-input--sm mt-xs",
            "placeholder": "0"
          })  }}
          {{ componentInput({
            "formGroup": {
              "classes": "mb-base"
            },
            "label": {
              "text": "Zona",
              "classes": "text-sm"
            },
            "id": "zona",
            "name": "zona",
            "classes": "w-full c-input--sm mt-xs",
            "placeholder": "0"
          })  }}
          {{ componentInput({
            "formGroup": {
              "classes": "mb-base"
            },
            "label": {
              "text": "Polígono",
              "classes": "text-sm"
            },
            "id": "poligono",
            "name": "poligono",
            "classes": "w-full c-input--sm mt-xs"
          })  }}
          {{ componentInput({
            "formGroup": {
              "classes": "mb-base"
            },
            "label": {
              "text": "Parcela",
              "classes": "text-sm"
            },
            "id": "parcela",
            "name": "parcela",
            "classes": "w-full c-input--sm mt-xs"
          })  }}
          {{ componentInput({
            "formGroup": {
              "classes": "mb-base"
            },
            "label": {
              "text": "Recinto",
              "classes": "text-sm"
            },
            "id": "recinto",
            "name": "recinto",
            "classes": "w-full c-input--sm mt-xs",
            "placeholder": "0"
          })  }}
          {{ componentInput({
            "formGroup": {
              "classes": "mb-base"
            },
            "label": {
              "text": "Superficie",
              "classes": "text-sm"
            },
            "id": "superficie",
            "name": "superficie",
            "classes": "w-full c-input--sm mt-xs",
            "placeholder": "0,00"
          })  }}
          {{ componentInput({
            "formGroup": {
              "classes": "mb-base"
            },
            "label": {
              "text": "Volumen m3",
              "classes": "text-sm"
            },
            "id": "volumen",
            "name": "volumen",
            "classes": "w-full c-input--sm mt-xs",
            "placeholder": "0,00"
          })  }}
          {{ componentInput({
            "formGroup": {
              "classes": "mb-base"
            },
            "label": {
              "text": "Kg N",
              "classes": "text-sm"
            },
            "id": "kgn",
            "name": "kgn",
            "classes": "w-full c-input--sm mt-xs",
            "placeholder": "0,000"
          })  }}
        </div>
        <div class="flex flex-wrap w-full justify-center">
          <div class="mt-sm">
            <button class="c-button mr-sm" onclick="closeDialog(this)">Cancelar</button>
            <button class="c-button c-button--primary" onclick="closeDialog(this)">Aceptar</button>
          </div>
        </div>
        <div class="absolute top-0 right-0 p-sm lg:p-base">
          <button onclick="closeDialog(this)" class="p-sm focus:bg-warning-base focus:border-warning-base focus:shadow-outline-black focus:text-black focus:outline-none" aria-label="X: Cerrar la ventana emergente">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1em" height="1em" class="w-4 h-4" aria-hidden="true" role="presentation"><path d="M85.91 71.77a2.5 2.5 0 010-3.54l46.16-46.16a10 10 0 10-14.14-14.14L71.77 54.09a2.5 2.5 0 01-3.54 0L22.07 7.93A10 10 0 007.93 22.07l46.16 46.16a2.5 2.5 0 010 3.54L7.93 117.93a10 10 0 0014.14 14.14l46.16-46.16a2.5 2.5 0 013.54 0l46.16 46.16a10 10 0 0014.14-14.14z" fill="currentColor"></path></svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- /modal 2 -->

{% endblock %}