{% set title = "Firma y Registro de la Declaración 2. Gestión de Estiércoles. Gobierno de Aragón" %}
{% extends "pages/_template.AGSTI-principal.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/item/_macro.item.njk" import componentItem %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}


{% block subheaderBlock %}
  <div class="bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="lg:flex lg:flex-wrap lg:justify-between lg:w-full">
          <div class="lg:flex-1 mb-lg">
            <!-- subheaderNavigation -->
            {% block subheaderNavigation %}
              <p class="sr-only" id="navegacion-de-cabecera">Volver</p>
              <nav aria-labelledby="navegacion-de-cabecera">
                {{ componentButton({
                  "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver a Declaraciones',
                  "classes": "c-button--transparent c-button--sm",
                  "href": "/"
                })  }}
              </nav>
            {% endblock %}
            <!-- /subheaderNavigation -->
          </div>
          <div class="flex flex-wrap lg:items-center mb-base lg:ml-auto lg:pl-base">
            <!-- subheaderActions -->
            {% block subheaderActions %}
              <nav aria-labelledby="acciones-de-cabecera">
                <p class="sr-only" id="acciones-de-cabecera">Menú de acciones</p>
                <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
                  <li>
                    {{ componentButton({
                      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1.1em" height="1.1em"><path d="M128.333 122.5H11.667a2.917 2.917 0 00-2.917 2.917A14.583 14.583 0 0023.333 140h93.334a14.583 14.583 0 0014.583-14.583 2.917 2.917 0 00-2.917-2.917zM113.75 78.75h-17.5c-5.005 0-11.667-1.517-11.667-14.583a26.868 26.868 0 016.767-15.861 31.745 31.745 0 007.817-19.14 29.167 29.167 0 00-58.334 0 31.745 31.745 0 007.817 19.14 26.868 26.868 0 016.767 15.86c0 13.067-6.662 14.584-11.667 14.584h-17.5A26.28 26.28 0 000 105a8.75 8.75 0 008.75 8.75h122.5A8.75 8.75 0 00140 105a26.28 26.28 0 00-26.25-26.25z" fill="currentColor"></path></svg>Registrar',
                      "href": "#",
                      "classes": "c-button--primary",
                      "disabled": true
                    })  }}
                  </li>
                  <li>
                    {{ componentButton({
                      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1.2em" height="1.2em"><path d="M135.018 31.5l-16.286-16.333a2.917 2.917 0 00-4.13 0L45.815 84a2.917 2.917 0 01-4.13 0L25.398 67.667a2.917 2.917 0 00-4.13 0L4.982 84a2.917 2.917 0 000 4.124l36.703 36.71a2.917 2.917 0 004.13 0l89.203-89.25a2.917 2.917 0 000-4.084z" fill="currentColor"></path></svg>Validar Declaración',
                      "href": "#"
                    })  }}
                  </li>
                  <li>
                    {{ componentButton({
                      "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1.1em" height="1.1em"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M119.126 133H20.874A13.874 13.874 0 0 1 7 119.126V42L42 7h77.126A13.874 13.874 0 0 1 133 20.874v98.252A13.874 13.874 0 0 1 119.126 133Z" stroke-width="14"/><path d="M35 91h70v42H35zM49 7h56v42H49z" stroke-width="14"/></g></svg>Guardar',
                      "href": "#"
                    })  }}
                  </li>
                </ul>
              </nav>
            {% endblock %}
            <!-- /subheaderActions -->
          </div>
        </div>
        <div class="lg:w-full mb-sm">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <h1 class="c-h2 mb-xs">
                Declaración GEST-2022-00000001
            </h1>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>
      </div>
      <!-- descripcion -->
      {{ componentDescriptionList({
        "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
        "items": [
          {
            "term": {
              "html": 'NIF/CIF',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "html": 'B22210140'
            },
            "classes": "flex-auto pr-lg mb-sm"
          },
          {
            "term": {
              "html": 'Nombre',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "html": 'Maria Teresa González Martínez'
            },
            "classes": "flex-auto pr-lg mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "html": '<div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Registrada</p></div>'
            },
            "classes": "flex-auto pr-lg mb-sm"
          },
          {
            "term": {
              "html": 'OCA de Tramitación',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "html": '4433 - Híjar'
            },
            "classes": "flex-auto pr-lg mb-sm"
          }
        ]
      })  }}
      <!-- /descripcion -->
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <h2 class="c-h3 mb-base">Datos Empresa/Declarante</h2>
  <fieldset>
    <legend class="font-bold">Datos básicos</legend>
    <div class="grid md:grid-cols-3 gap-x-7">
      {{ componentInput({
        "label": {
          "text": "NIF/CIF"
        },
        "id": "nif-cif-declarante",
        "name": "nif-cif-declarante",
        "classes": "w-full",
        "disabled": true,
        "value": "B22210140"
      })  }}
      {{ componentInput({
        "formGroup": {
          "classes": "md:col-span-2"
        },
        "label": {
          "text": "Nombre/Razón social"
        },
        "id": "nombre-declarante",
        "name": "nombre-declarante",
        "classes": "w-full",
        "disabled": true,
        "value": "SantaLecina Ganadera S.L."
      })  }}
      {{ componentInput({
        "label": {
          "text": "Teléfono"
        },
        "id": "telefono",
        "name": "telefono",
        "classes": "w-full",
        "disabled": true,
        "value": "666 777 888"
      })  }}
      {{ componentInput({
        "label": {
          "text": "E-mail"
        },
        "id": "mail",
        "name": "mail",
        "classes": "w-full",
        "disabled": true,
        "value": "correo@dominio.com"
      })  }}
    </div>
  </fieldset>
  <hr class="border-neutral-base mb-lg">
  <fieldset>
    <legend class="font-bold">Dirección</legend>
    <div class="grid md:grid-cols-4 gap-x-7">
      {{ componentInput({
        "formGroup": {
          "classes": "md:col-span-4"
        },
        "label": {
          "text": "Calle, número, piso/local"
        },
        "id": "calle",
        "name": "calle",
        "classes": "w-full",
        "disabled": true,
        "value": "Pº Maria Agustín, 36"
      })  }}
      {{ componentInput({
        "label": {
          "text": "Provincia"
        },
        "id": "provincia",
        "name": "provincia",
        "classes": "w-full",
        "disabled": true,
        "value": "Zaragoza"
      })  }}
      {{ componentInput({
        "label": {
          "text": "Municipio"
        },
        "id": "municipio",
        "name": "municipio",
        "classes": "w-full",
        "disabled": true,
        "value": "Zaragoza"
      })  }}
      {{ componentInput({
        "label": {
          "text": "Código Postal"
        },
        "id": "cpostal",
        "name": "cpostal",
        "classes": "w-full",
        "disabled": true,
        "value": "50004"
      })  }}
      {{ componentInput({
        "label": {
          "text": "Localidad"
        },
        "id": "localidad",
        "name": "localidad",
        "classes": "w-full",
        "disabled": true,
        "value": "Zaragoza"
      })  }}
    </div>
  </fieldset>
  <hr class="border-neutral-base mb-lg">
  <fieldset>
    <legend class="font-bold">Datos Representante</legend>
    <div class="grid md:grid-cols-4 gap-x-7">
      {{ componentInput({
        "label": {
          "text": "NIF/CIF"
        },
        "id": "nif-cif-represntante",
        "name": "nif-cif-represntante",
        "classes": "w-full",
        "disabled": true,
        "value": "78932145Z"
      })  }}
      {{ componentInput({
        "label": {
          "text": "Nombre/Razón social"
        },
        "id": "nombre-represntante",
        "name": "nombre-represntante",
        "classes": "w-full",
        "disabled": true,
        "value": "Maria Teresa"
      })  }}
      {{ componentInput({
        "label": {
          "text": "Primer Apellido"
        },
        "id": "primer-apellido",
        "name": "primer-apellido",
        "classes": "w-full",
        "disabled": true,
        "value": "González"
      })  }}
      {{ componentInput({
        "label": {
          "text": "Segundo Apellido"
        },
        "id": "segundo-apellido",
        "name": "segundo-apellido",
        "classes": "w-full",
        "disabled": true,
        "value": "Martínez"
      })  }}
    </div>
  </fieldset>
  <hr class="border-neutral-base mb-lg">
  <h2 class="c-h3">Centro</h2>
  {{ componentDescriptionList({
    "classes": "lg:flex w-full border border-neutral-base rounded bg-neutral-lighter mt-base mb-base pt-base pr-base pb-sm pl-lg",
    "items": [
      {
        "term": {
          "html": '<abbr title="Número">Nº</abbr> SANDACH',
          "classes": "text-sm text-neutral-dark whitespace-nowrap"
        },
        "definition": {
          "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">2200023839</a>'
        },
        "classes": "flex-auto pr-lg mb-sm"
      },
      {
        "term": {
          "html": 'Provincia',
          "classes": "text-sm text-neutral-dark whitespace-nowrap"
        },
        "definition": {
          "html": 'Huesca'
        },
        "classes": "flex-auto pr-lg mb-sm"
      },
      {
        "term": {
          "html": 'Localidad',
          "classes": "text-sm text-neutral-dark whitespace-nowrap"
        },
        "definition": {
          "html": 'Sariñena'
        },
        "classes": "flex-auto pr-lg mb-sm"
      },
      {
        "term": {
          "html": 'Localización',
          "classes": "sr-only"
        },
        "definition": {
          "html": '<a href="/" role="button" draggable="false" class="c-button c-button--sm"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-1" aria-hidden="true" focusable="false" width="1.1em" height="1.1em"><path d="M70 0a46.72 46.72 0 00-46.667 46.667c0 20.475 29.167 70.145 41.697 90.556A5.833 5.833 0 0070 140a5.78 5.78 0 004.97-2.782c12.53-20.4 41.697-70.053 41.697-90.551A46.72 46.72 0 0070 0zm0 67.083a20.417 20.417 0 1120.417-20.416A20.417 20.417 0 0170 67.083z" fill="currentColor"></path></svg>Ver Geolocalización</a>'
        },
        "classes": "flex-auto pr-lg mb-sm"
      }
    ]
  })  }}
  <hr class="border-neutral-base mt-xl mb-lg">
  <h2 class="c-h3">Documentación</h2>
  {% call componentItem({
    "title": {
      "text": "Declaración firmada (CSVSSE5966F245SSEFSTI)",
      "attributes": {
        "id": "t1"
      }
    },
    "icon": {
      "type": "document"
    },
    "classes": "mb-base"
  })  %}
      <ul class="flex flex-wrap gap-sm">
        <li><button id="b-1a" class=" c-button c-button--sm mr-sm" aria-labelledby="b-1a t1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-sm" aria-hidden="true" focusable="false" width="1.2em" height="1.2em"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M107.338 42h12.446A6.216 6.216 0 0 1 126 48.216v78.568a6.216 6.216 0 0 1-6.216 6.216H20.216A6.216 6.216 0 0 1 14 126.784V48.216A6.216 6.216 0 0 1 20.216 42h12.446M70 7v74.662" stroke-width="14"/><path d="M51.338 63 70 81.662 88.662 63" stroke-width="14"/></g></svg>Descargar documento</button></li>
        <li><button id="b-1b" class="c-button c-button--sm" aria-labelledby="b-1b t1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-sm" aria-hidden="true" focusable="false" width="1.2em" height="1.2em"><g transform="scale(5.83333)"><defs><style>.a{fill:currentColor}</style></defs><path class="a" d="M23 23.517H1a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h5v2H2v7h20v-7h-4v-2h5a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1z"/><path class="a" d="m8.663 12.019 3.8 3.801-4.75.95.95-4.751zM19.413 1.27a2.687 2.687 0 1 1 3.8 3.8l-9.325 9.324-3.8-3.8z"/></g></svg>Descargar firma</button></li>
      </ul>
  {% endcall %}  
  {% call componentItem({
    "title": {
      "text": "Justificante de registro (CSVKJLS689SFJLSDFSTI)",
      "attributes": {
        "id": "t2"
      }
    },
    "icon": {
      "type": "document"
    },
    "classes": "mb-base"
  })  %}
      <ul class="flex flex-wrap gap-sm">
        <li><button id="b-2a" class=" c-button c-button--sm mr-sm" aria-labelledby="b-2a t2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-sm" aria-hidden="true" focusable="false" width="1.2em" height="1.2em"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M107.338 42h12.446A6.216 6.216 0 0 1 126 48.216v78.568a6.216 6.216 0 0 1-6.216 6.216H20.216A6.216 6.216 0 0 1 14 126.784V48.216A6.216 6.216 0 0 1 20.216 42h12.446M70 7v74.662" stroke-width="14"/><path d="M51.338 63 70 81.662 88.662 63" stroke-width="14"/></g></svg>Descargar documento</button></li>
        <li><button id="b-2b" class="c-button c-button--sm" aria-labelledby="b-2b t2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-sm" aria-hidden="true" focusable="false" width="1.2em" height="1.2em"><g transform="scale(5.83333)"><defs><style>.a{fill:currentColor}</style></defs><path class="a" d="M23 23.517H1a1 1 0 0 1-1-1v-9a1 1 0 0 1 1-1h5v2H2v7h20v-7h-4v-2h5a1 1 0 0 1 1 1v9a1 1 0 0 1-1 1z"/><path class="a" d="m8.663 12.019 3.8 3.801-4.75.95.95-4.751zM19.413 1.27a2.687 2.687 0 1 1 3.8 3.8l-9.325 9.324-3.8-3.8z"/></g></svg>Descargar firma</button></li>
      </ul>
  {% endcall %}

{% endblock %}