{% set title = "Listado de Declaraciones. Gestión de Estiércoles. Gobierno de Aragón" %}
{% extends "pages/_template.AGSTI-principal.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/date-input/_macro.date-input.njk" import componentDateInput %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/searchbar/_macro.searchbar.njk" import componentSearchbar %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}

{# Definiciones #}
{% set formBusquedaAvanzada %}
  <form id="form-busqueda-avanzada" class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-7 py-base">
    {{ componentInput({
      "label": {
        "html": '<abbr title="Código">Cód.</abbr> REGA'
      },
      "id": "rega",
      "name": "rega",
      "placeholder": "Escribe el código REGA",
      "classes": "w-full"
    })  }}  
    {{ componentInput({
      "label": {
        "html": '<abbr title="Número">Nº</abbr> SANDACH'
      },
      "id": "sandach",
      "name": "sandach",
      "placeholder": "Escribe el número SANDACH",
      "classes": "w-full"
    })  }}  
    {{ componentInput({
      "label": {
        "html": 'NIF/CIF Empresa'
      },
      "id": "nif",
      "name": "nif",
      "placeholder": "Escribe el NIF/CIF",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "html": 'Nombre/Razón social'
      },
      "id": "nombre",
      "name": "nombre",
      "classes": "w-full",
      "disabled": true
    })  }} 
    {{ componentSelect({
      "id": "estado",
      "name": "estado",
      "classes": "w-full",
      "label": {
        "html": 'Estado'
      },
      "items": [
        {
          "value": 0,
          "text": "Selecciona un estado...",
          "selected": true,
          "disabled": true
        },
        {
          "value": 1,
          "text": "Validada"
        },
        {
          "value": 2,
          "text": "Sin entregas"
        },
        {
          "value": 3,
          "text": "No validada"
        }
      ]
    })  }}
    {{ componentDateInput({
      "id": "fechiniapertura",
      "namePrefix": "fechiniapertura",
      "fieldset": {
        "legend": {
          "html": 'Fecha (desde)',
          "classes": "font-normal"
        }
      },
      "classes": "text-sm",
      "items": [
        {
          "classes": "w-14",
          "attributes": {
            "placeholder": "día",
            "maxlength": "2"
          }
        },
        {
          "classes": "w-14",
          "attributes": {
            "placeholder": "mes",
            "maxlength": "2"
          }
        },
        {
          "classes": "w-20",
          "attributes": {
            "placeholder": "año",
            "maxlength": "4"
          }
        }
      ]
    })  }}
    {{ componentDateInput({
      "id": "fechfinapertura",
      "namePrefix": "fechfinapertura",
      "fieldset": {
        "legend": {
          "html": 'Fecha (hasta)',
          "classes": "font-normal"
        }
      },
      "classes": "text-sm",
      "items": [
        {
          "classes": "w-14",
          "attributes": {
            "placeholder": "día",
            "maxlength": "2"
          }
        },
        {
          "classes": "w-14",
          "attributes": {
            "placeholder": "mes",
            "maxlength": "2"
          }
        },
        {
          "classes": "w-20",
          "attributes": {
            "placeholder": "año",
            "maxlength": "4"
          }
        }
      ]
    })  }}
    <div class="md:col-span-4 text-right">
      {{ componentButton({
        "text": "Buscar"
      })  }}
    </div>               
  </form>
{% endset %}
{% set botonesAcciones1 %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M140 42a14 14 0 0 0-14-14h-14V14A14 14 0 0 0 98 0H42a14 14 0 0 0-14 14v14H14A14 14 0 0 0 0 42v55.818a14 14 0 0 0 14 14h14V126a14 14 0 0 0 14 14h56a14 14 0 0 0 14-14v-14.182h14a14 14 0 0 0 14-14ZM42 17.5a3.5 3.5 0 0 1 3.5-3.5h49a3.5 3.5 0 0 1 3.5 3.5V42H42Zm56 105a3.5 3.5 0 0 1-3.5 3.5h-49a3.5 3.5 0 0 1-3.5-3.5V112h56Zm7-28A10.5 10.5 0 1 1 115.5 84 10.5 10.5 0 0 1 105 94.5Z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "title": "Imprimir",
      "aria-labelledby": "acciones itemX"
    }
  })  }}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M129.5 78.75a8.75 8.75 0 0 0-8.75 8.75 5.25 5.25 0 0 1-5.25 5.25h-63a5.25 5.25 0 0 1-5.25-5.25v-63a5.25 5.25 0 0 1 5.25-5.25 8.75 8.75 0 0 0 0-17.5A22.778 22.778 0 0 0 29.75 24.5v63a22.778 22.778 0 0 0 22.75 22.75h63a22.778 22.778 0 0 0 22.75-22.75 8.75 8.75 0 0 0-8.75-8.75Z" fill="currentColor"/><path d="M91 120.75H24.5a5.25 5.25 0 0 1-5.25-5.25V49a8.75 8.75 0 0 0-17.5 0v66.5a22.778 22.778 0 0 0 22.75 22.75H91a8.75 8.75 0 0 0 0-17.5ZM129.5 1.75H98a8.75 8.75 0 0 0-6.188 14.938l9.562 9.562-23.562 23.562a8.751 8.751 0 0 0 12.376 12.376l23.562-23.562 9.562 9.562a8.722 8.722 0 0 0 6.188 2.562 8.96 8.96 0 0 0 3.346-.658A8.764 8.764 0 0 0 138.25 42V10.5a8.75 8.75 0 0 0-8.75-8.75Z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "title": "Exportar XLS",
      "aria-labelledby": "acciones itemX"
    }
  })  }}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M116.368 139.132H40.46a8.75 8.75 0 1 1 0-17.5h75.908a5.278 5.278 0 0 0 5.264-5.264V40.46a8.75 8.75 0 1 1 17.5 0v75.908a22.806 22.806 0 0 1-22.764 22.764Z" fill="currentColor"/><path d="M84.868.868h-63a21 21 0 0 0-21 21v63a21 21 0 0 0 21 21h63a21 21 0 0 0 21-21v-63a21 21 0 0 0-21-21Zm-7 61.264H62.132v15.736a8.75 8.75 0 1 1-17.5 0V62.132H28.868a8.75 8.75 0 0 1 0-17.5h15.764V28.868a8.75 8.75 0 0 1 17.5 0v15.764h15.736a8.75 8.75 0 1 1 0 17.5Z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "title": "Reutilizar Declaración",
      "aria-labelledby": "acciones itemX"
    }
  })  }}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M140 41.188a10.5 10.5 0 0 0-10.5-10.5h-23.632a3.5 3.5 0 0 1-3.43-2.8 33.334 33.334 0 0 0-65.45 0 3.514 3.514 0 0 1-3.43 2.8H10.5a10.5 10.5 0 0 0 0 21H14a3.5 3.5 0 0 1 3.5 3.5v63a21 21 0 0 0 21 21h63a21 21 0 0 0 21-21v-63a3.5 3.5 0 0 1 3.5-3.5h3.5a10.5 10.5 0 0 0 10.5-10.5Zm-70.294-22.82A15.512 15.512 0 0 1 82.6 25.2a3.556 3.556 0 0 1 .21 3.626 3.5 3.5 0 0 1-3.094 1.862h-19.95a3.5 3.5 0 0 1-2.884-5.488 15.4 15.4 0 0 1 12.824-6.832ZM57.75 107.632a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Zm42 0a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "title": "Eliminar",
      "aria-labelledby": "acciones itemX"
    },
    "disabled": true
  })  }}
{% endset %}
{% set botonesAcciones2 %}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M140 42a14 14 0 0 0-14-14h-14V14A14 14 0 0 0 98 0H42a14 14 0 0 0-14 14v14H14A14 14 0 0 0 0 42v55.818a14 14 0 0 0 14 14h14V126a14 14 0 0 0 14 14h56a14 14 0 0 0 14-14v-14.182h14a14 14 0 0 0 14-14ZM42 17.5a3.5 3.5 0 0 1 3.5-3.5h49a3.5 3.5 0 0 1 3.5 3.5V42H42Zm56 105a3.5 3.5 0 0 1-3.5 3.5h-49a3.5 3.5 0 0 1-3.5-3.5V112h56Zm7-28A10.5 10.5 0 1 1 115.5 84 10.5 10.5 0 0 1 105 94.5Z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "title": "Imprimir",
      "aria-labelledby": "acciones itemX"
    }
  })  }}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M129.5 78.75a8.75 8.75 0 0 0-8.75 8.75 5.25 5.25 0 0 1-5.25 5.25h-63a5.25 5.25 0 0 1-5.25-5.25v-63a5.25 5.25 0 0 1 5.25-5.25 8.75 8.75 0 0 0 0-17.5A22.778 22.778 0 0 0 29.75 24.5v63a22.778 22.778 0 0 0 22.75 22.75h63a22.778 22.778 0 0 0 22.75-22.75 8.75 8.75 0 0 0-8.75-8.75Z" fill="currentColor"/><path d="M91 120.75H24.5a5.25 5.25 0 0 1-5.25-5.25V49a8.75 8.75 0 0 0-17.5 0v66.5a22.778 22.778 0 0 0 22.75 22.75H91a8.75 8.75 0 0 0 0-17.5ZM129.5 1.75H98a8.75 8.75 0 0 0-6.188 14.938l9.562 9.562-23.562 23.562a8.751 8.751 0 0 0 12.376 12.376l23.562-23.562 9.562 9.562a8.722 8.722 0 0 0 6.188 2.562 8.96 8.96 0 0 0 3.346-.658A8.764 8.764 0 0 0 138.25 42V10.5a8.75 8.75 0 0 0-8.75-8.75Z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "title": "Exportar XLS",
      "aria-labelledby": "acciones itemX"
    }
  })  }}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M116.368 139.132H40.46a8.75 8.75 0 1 1 0-17.5h75.908a5.278 5.278 0 0 0 5.264-5.264V40.46a8.75 8.75 0 1 1 17.5 0v75.908a22.806 22.806 0 0 1-22.764 22.764Z" fill="currentColor"/><path d="M84.868.868h-63a21 21 0 0 0-21 21v63a21 21 0 0 0 21 21h63a21 21 0 0 0 21-21v-63a21 21 0 0 0-21-21Zm-7 61.264H62.132v15.736a8.75 8.75 0 1 1-17.5 0V62.132H28.868a8.75 8.75 0 0 1 0-17.5h15.764V28.868a8.75 8.75 0 0 1 17.5 0v15.764h15.736a8.75 8.75 0 1 1 0 17.5Z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "title": "Reutilizar Declaración",
      "aria-labelledby": "acciones itemX"
    },
    "disabled": true
  })  }}
  {{ componentButton({
    "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M140 41.188a10.5 10.5 0 0 0-10.5-10.5h-23.632a3.5 3.5 0 0 1-3.43-2.8 33.334 33.334 0 0 0-65.45 0 3.514 3.514 0 0 1-3.43 2.8H10.5a10.5 10.5 0 0 0 0 21H14a3.5 3.5 0 0 1 3.5 3.5v63a21 21 0 0 0 21 21h63a21 21 0 0 0 21-21v-63a3.5 3.5 0 0 1 3.5-3.5h3.5a10.5 10.5 0 0 0 10.5-10.5Zm-70.294-22.82A15.512 15.512 0 0 1 82.6 25.2a3.556 3.556 0 0 1 .21 3.626 3.5 3.5 0 0 1-3.094 1.862h-19.95a3.5 3.5 0 0 1-2.884-5.488 15.4 15.4 0 0 1 12.824-6.832ZM57.75 107.632a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Zm42 0a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Z" fill="currentColor"/></svg>',
    "href": "/",
    "classes": "c-button--transparent c-button--sm align-bottom",
    "attributes": {
      "title": "Eliminar",
      "aria-labelledby": "acciones itemX"
    }
  })  }}
{% endset %}



{% block contentBlock %}
  
  {# Titulo con acciones #}
  <div class="lg:flex lg:flex-wrap w-full">
    <h1 id="page-title" class="c-h1 flex-1">Declaraciones</h1>
    <section class="mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
      <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
      <ul class="flex flex-column-reverse lg:flex-row-reverse flex-wrap gap-sm">
        <li>
          {{ componentButton({
          "text": "Nueva Declaración",
          "classes": "c-button--primary"
          })  }}
        </li>
      </ul>
    </section>    
  </div>

  {# Filtro #}
  <section class="lg:order-3 w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Búsqueda avanzada</h2>
    {{ componentAccordion({
      "idPrefix": "busquedas",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Filtro de búsqueda",
          "html": formBusquedaAvanzada
        }
      ]
    })  }}
  </section>

  {# Listado #}
  <section aria-labelledby="declaraciones">
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>Las cabeceras de columna tienen opción de ordenación.</p>
          <p>La primera columna contiene enlaces de acceso y edición a los items.</p>
          <p>Puedes realizar acciones sobre cada item mediante los botones situados en la última columna.</p>
        </div>
    {% endcall %}
    {# Tabla-Listado de items #}
    <div class="max-w-full overflow-x-auto">
      {{ componentTableAdvanced({
        "idPrefix": "listado-declaraciones",
        "caption": "Listado de declaraciones",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "head": [
          {
            "html": '<abbr title="Código">Cód.</abbr> Declaración',
            "orderBy": "none"
          },
          {
            "html": '<abbr title="Código">Cód.</abbr> REGA / <abbr title="Número">Nº</abbr> SANDACH',
            "orderBy": "none"
          },
          {
            "html": 'NIF/CIF',
            "orderBy": "none"
          },
          {
            "html": 'Nombre/Razón social',
            "orderBy": "none"
          },
          {
            "html": 'Estado',
            "orderBy": "none"
          },
          {
            "html": 'Fecha',
            "orderBy": "none"
          },
          {
            "html": '<span id="acciones" class="sr-only">Acciones</span>'
          }
        ],
        "rows": [
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">GEST-2021-014</a>',
              "attributes": {
                "id": "item1"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">ES 21 017 001532</div>'
            },
            {
              "html": '12345678Z'
            },
            {
              "html": 'Hermanos Prado López S.L.'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Registrada</div>'
            },
            {
              "html": '25/07/2021'
            },
            {
              "html": botonesAcciones1,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">GEST-2021-021</a>',
              "attributes": {
                "id": "item2"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">ES 21 017 001532</div>'
            },
            {
              "html": '87654321A'
            },
            {
              "html": 'Julio Mieza Gil'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>Completada</div>'
            },
            {
              "html": '21/07/2021'
            },
            {
              "html": botonesAcciones2,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">GEST-2021-032</a>',
              "attributes": {
                "id": "item3"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">ES 21 017 001532</div>'
            },
            {
              "html": '45612387H'
            },
            {
              "html": 'Gestoría Moreno'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-neutral-light border-2 border-neutral-dark"></span>Iniciada</div>'
            },
            {
              "html": '17/07/2021'
            },
            {
              "html": botonesAcciones2,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">GEST-2021-014</a>',
              "attributes": {
                "id": "item4"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">ES 21 017 001532</div>'
            },
            {
              "html": '12345678Z'
            },
            {
              "html": 'Hermanos Prado López S.L.'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Registrada</div>'
            },
            {
              "html": '25/07/2021'
            },
            {
              "html": botonesAcciones1,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">GEST-2021-021</a>',
              "attributes": {
                "id": "item5"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">ES 21 017 001532</div>'
            },
            {
              "html": '87654321A'
            },
            {
              "html": 'Julio Mieza Gil'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>Completada</div>'
            },
            {
              "html": '21/07/2021'
            },
            {
              "html": botonesAcciones2,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">GEST-2021-032</a>',
              "attributes": {
                "id": "item6"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">ES 21 017 001532</div>'
            },
            {
              "html": '45612387H'
            },
            {
              "html": 'Gestoría Moreno'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-neutral-light border-2 border-neutral-dark"></span>Iniciada</div>'
            },
            {
              "html": '17/07/2021'
            },
            {
              "html": botonesAcciones2,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">GEST-2021-014</a>',
              "attributes": {
                "id": "item7"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">ES 21 017 001532</div>'
            },
            {
              "html": '12345678Z'
            },
            {
              "html": 'Hermanos Prado López S.L.'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-success-base"></span>Registrada</div>'
            },
            {
              "html": '25/07/2021'
            },
            {
              "html": botonesAcciones1,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">GEST-2021-021</a>',
              "attributes": {
                "id": "item8"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">ES 21 017 001532</div>'
            },
            {
              "html": '87654321A'
            },
            {
              "html": 'Julio Mieza Gil'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>Completada</div>'
            },
            {
              "html": '21/07/2021'
            },
            {
              "html": botonesAcciones2,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">GEST-2021-032</a>',
              "attributes": {
                "id": "item9"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">ES 21 017 001532</div>'
            },
            {
              "html": '45612387H'
            },
            {
              "html": 'Gestoría Moreno'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-neutral-light border-2 border-neutral-dark"></span>Iniciada</div>'
            },
            {
              "html": '17/07/2021'
            },
            {
              "html": botonesAcciones2,
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">GEST-2021-032</a>',
              "attributes": {
                "id": "item10"
              }
            },
            {
              "html": '<div class="whitespace-nowrap">ES 21 017 001532</div>'
            },
            {
              "html": '45612387H'
            },
            {
              "html": 'Gestoría Moreno'
            },
            {
              "html": '<div class="whitespace-nowrap"><span class="inline-block w-3.5 h-3.5 mr-sm bg-neutral-light border-2 border-neutral-dark"></span>Iniciada</div>'
            },
            {
              "html": '17/07/2021'
            },
            {
              "html": botonesAcciones2,
              "classes": "text-center"
            }
          ]
        ],
        "wrapper": {
          "classes": "relative overflow-x-auto pb-base"
        },
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de items #}
  </section>

  {# Paginacion #}
  <div class="mt-xs">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "hasSelect": true,
      "idPrefix": "pagination",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-labelledby": "paginacion"
      }
    })  }}
  </div>

{% endblock %}