{% set title = "Firma y Registro de la Declaración 1. Gestión de Estiércoles. Gobierno de Aragón" %}
{% extends "pages/_template.AGSTI-principal.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/description-list/_macro.description-list.njk" import componentDescriptionList %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menu-horizontal/_macro.menu-horizontal.njk" import componentMenuHorizontal %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/spinner/_macro.spinner.njk" import componentSpinner %}


{% block subheaderBlock %}
  <div class="bg-white">
    <div class="container mx-auto mt-base -mb-px px-base">
      <div class="lg:flex lg:flex-wrap lg:w-full">
        <div class="lg:flex lg:flex-wrap lg:justify-between lg:w-full">
          <div class="lg:flex-1 mb-lg">
            <!-- subheaderNavigation -->
            {% block subheaderNavigation %}
              <p class="sr-only" id="navegacion-de-cabecera">Volver</p>
              <nav aria-labelledby="navegacion-de-cabecera">
                {{ componentButton({
                  "html": '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" class="self-center mr-2" aria-hidden="true" focusable="false" width="1em" height="1em"><path d="M37.93 27.93l-35 35a10 10 0 000 14.14l35 35a10 10 0 1014.14-14.14L38.41 84.27A2.5 2.5 0 0140.18 80H130a10 10 0 000-20H40.18a2.5 2.5 0 01-1.77-4.27l13.66-13.66a10 10 0 00-14.14-14.14z" fill="currentColor"></path></svg>Volver a Declaraciones',
                  "classes": "c-button--transparent c-button--sm",
                  "href": "/"
                })  }}
              </nav>
            {% endblock %}
            <!-- /subheaderNavigation -->
          </div>
        </div>
        <div class="lg:w-full mb-sm">
          <!-- subheaderTitle -->
          {% block subheaderTitle %}
            <h1 class="c-h2 mb-xs">
                Declaración GEST-2022-00000001
            </h1>
          {% endblock %}
          <!-- /subheaderTitle -->
        </div>
      </div>
      <!-- descripcion -->
      {{ componentDescriptionList({
        "classes": "lg:flex w-full border-t border-neutral-base mt-sm pt-base",
        "items": [
          {
            "term": {
              "html": 'NIF/CIF',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "html": 'B22210140'
            },
            "classes": "flex-auto pr-lg mb-sm"
          },
          {
            "term": {
              "html": 'Nombre',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "html": 'Maria Teresa González Martínez'
            },
            "classes": "flex-auto pr-lg mb-sm"
          },
          {
            "term": {
              "html": 'Estado',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "html": '<div class="whitespace-nowrap"><p><span class="inline-block w-3.5 h-3.5 mr-sm bg-warning-base"></span>Completa</p></div>'
            },
            "classes": "flex-auto pr-lg mb-sm"
          },
          {
            "term": {
              "html": 'OCA de Tramitación',
              "classes": "text-sm text-neutral-dark whitespace-nowrap"
            },
            "definition": {
              "html": '4433 - Híjar'
            },
            "classes": "flex-auto pr-lg mb-sm"
          }
        ]
      })  }}
      <!-- /descripcion -->
    </div>
  </div>
{% endblock %}

{% block contentBlock %}
  <h2 class="c-h2 mb-sm">Firma de la declaración</h2>
  <p class="c-paragraph-base">Para poder registrar la declaración, primero debe firmar el documento de la declaración:</p>
  <!-- documento pdf -->
  <embed src="../../files/doc_prueba.pdf" type="application/pdf" width="100%" height="500px" />
  <!-- /documento pdf -->

  <!-- firma -->
  <div class="p-base mt-xl bg-white border border-neutral-base rounded-lg">
    <!-- iframe -->
    <iframe src="mfe-index-firma-iframe-content.html" frameborder="0" class="w-full"></iframe>
    <!-- /iframe -->
  </div>
  <!-- /firma -->

  <!-- notification -->
  <section id="notification-container" aria-labelledby="notification-heading" class="w-full mt-xl">
    <h2 id="notification-heading" class="sr-only">Avisos de identificación</h2>
    {{ componentNotification({
      "title": {
        "text": "El documento se ha firmado correctamente"
      },
      "type": "success",
      "id": "identification-success",
      "isDismissible": true,
      "classes": "c-notification--success mb-base"
    })  }}
  </section>
  <!-- /notification -->
  {{ componentSpinner({
    "classes": "lg:inline-block align-middle ml-base mr-lg pb-2xl lg:pb-0 text-4xl lg:text-2xl",
    "attributes": {
      "aria-hidden": true
    }
  })  }}
  <h2 class="c-h2 lg:inline-block mb-sm">La declaración está siendo registrada...</h2>
  <p class="c-paragraph-base lg:ml-12 mb-xl">
    El registro y almacenamiento del documento puede llevar un tiempo. <br>
    No cierre la ventana hasta que no termine el proceso por favor.
  </p>

{% endblock %}


{% block modalBlock %}
  {# javascript para que el iframe se ajuste automáticamente #}
  {{ super() }}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.min.js" integrity="sha512-dnvR4Aebv5bAtJxDunq3eE8puKAJrY9GBJYl9GC6lTOEC76s1dbDfJFcL9GyzpaDW4vlI/UjR8sKbc1j6Ynx6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript">
    iFrameResize({
      log                     : false,                  // Enable console logging
      enablePublicMethods     : true,                  // Enable methods within iframe hosted page
      resizedCallback         : function(messageData){ // Callback fn when resize is received
        // console.log ("IFrame: "+ messageData.iframe.id + " Height: " + messageData.height + " Width: " + messageData.width + " Event type: " + messageData.type);
      },
      messageCallback         : function(messageData){ // Callback fn when message is received
        // console.log ("IFrame: "+ messageData.iframe.id +" Message: " + messageData.message);
      },
      closedCallback         : function(id){ // Callback fn when iFrame is closed
        // console.log ("IFrame: "+ id +" removed from page.");
      }
    });
  </script>
{% endblock %}