{% set title = "Gestión de Usuarios - Listado. Gestión de Estiércoles. Gobierno de Aragón" %}
{% extends "pages/_template.AGSTI-principal.njk" %}

{# Dependencias #}
{% from "components/accordion/_macro.accordion.njk" import componentAccordion %}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}

{# Definiciones #}
{% set formBusquedaAvanzada %}
  <form id="form-busqueda-avanzada" class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-7 py-base">
    {{ componentInput({
      "label": {
        "html": 'NIF'
      },
      "id": "nif",
      "name": "nif",
      "placeholder": "Escribe el NIF",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "html": 'Nombre'
      },
      "id": "nombre",
      "name": "nombre",
      "placeholder": "Escribe el nombre",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "html": 'Apellido 1'
      },
      "id": "apellido1",
      "name": "apellido1",
      "placeholder": "Escribe el primer apellido",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "html": 'Apellido 2'
      },
      "id": "apellido2",
      "name": "apellido2",
      "placeholder": "Escribe el segundo apellido",
      "classes": "w-full"
    })  }}
    <div class="md:col-span-4 text-right">
      {{ componentButton({
        "text": "Buscar"
      })  }}
    </div>               
  </form>
{% endset %}


{% block contentBlock %}
  
  {# Titulo con acciones #}
  <div class="lg:flex lg:flex-wrap w-full">
    <h1 id="page-title" class="c-h1 flex-1">Gestión de Usuarios</h1>
    <section class="mt-base mb-base lg:mt-0 lg:mb-0 lg:ml-auto lg:pl-base" aria-labelledby="acciones-de-pagina">
      <h2 id="acciones-de-pagina" class="sr-only">Acciones de página</h2>
      <ul class="flex flex-column-reverse lg:flex-row-reverse flex-wrap gap-sm">
        <li>
          {{ componentButton({
          "text": "Nuevo Usuario",
          "classes": "c-button--primary"
          })  }}
        </li>
      </ul>
    </section>    
  </div>

  {# Filtro #}
  <section class="lg:order-3 w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Búsqueda avanzada</h2>
    {{ componentAccordion({
      "idPrefix": "busquedas",
      "allowToggle": true,
      "items": [
        {
          "headerText": "Filtro de búsqueda",
          "html": formBusquedaAvanzada
        }
      ]
    })  }}
  </section>

  {# Listado #}
  <section aria-labelledby="usuarios">
    {# Instrucciones de funcionamiento de la tabla #}
    {% call componentDetails({
      "summary": {
        "html": "Acerca de esta tabla"
      },
      "classes": "mb-xs text-sm"
    })  %}
        <div id="descTable1">
          <p>Las cabeceras de columna tienen opción de ordenación.</p>
          <p>La primera columna contiene enlaces de acceso y edición a los items.</p>
          <p>Puedes realizar acciones sobre cada item mediante los botones situados en la última columna.</p>
        </div>
    {% endcall %}
    {# Tabla-Listado de items #}
    <div class="max-w-full overflow-x-auto">
      {{ componentTableAdvanced({
        "idPrefix": "listado-usuarios",
        "caption": "Listado de usuarios",
        "captionClasses": "sr-only",
        "attributes": {
          "aria-describedby": "descTable1"
        },
        "head": [
          {
            "html": 'NIF',
            "orderBy": "none"
          },
          {
            "html": 'Nombre',
            "orderBy": "none"
          },
          {
            "html": 'Apellido 1',
            "orderBy": "none"
          },
          {
            "html": 'Apellido 2',
            "orderBy": "none"
          },
          {
            "html": '<span class="sr-only">Acciones</span>'
          }
        ],
        "rows": [
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">12345678Z</a>',
              "attributes": {
                "id": "item1"
              }
            },
            {
              "html": 'Agustín'
            },
            {
              "html": 'Fernández'
            },
            {
              "html": 'Diaz'
            },
            {
              "html": '<a href="/" role="button" draggable="false" class="c-button c-button--transparent c-button--sm align-bottom" title="Eliminar" aria-labelledby="acciones item1">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M140 41.188a10.5 10.5 0 0 0-10.5-10.5h-23.632a3.5 3.5 0 0 1-3.43-2.8 33.334 33.334 0 0 0-65.45 0 3.514 3.514 0 0 1-3.43 2.8H10.5a10.5 10.5 0 0 0 0 21H14a3.5 3.5 0 0 1 3.5 3.5v63a21 21 0 0 0 21 21h63a21 21 0 0 0 21-21v-63a3.5 3.5 0 0 1 3.5-3.5h3.5a10.5 10.5 0 0 0 10.5-10.5Zm-70.294-22.82A15.512 15.512 0 0 1 82.6 25.2a3.556 3.556 0 0 1 .21 3.626 3.5 3.5 0 0 1-3.094 1.862h-19.95a3.5 3.5 0 0 1-2.884-5.488 15.4 15.4 0 0 1 12.824-6.832ZM57.75 107.632a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Zm42 0a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Z" fill="currentColor"></path></svg>
                        <span id="acciones" class="sr-only">Borrar</span>
                      </a>',
              "classes": "text-center"
            }
          ],
          [
            {
              "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">12345678Z</a>',
              "attributes": {
                "id": "item2"
              }
            },
            {
              "html": 'Miguel'
            },
            {
              "html": 'Martín'
            },
            {
              "html": 'Morallón'
            },
            {
              "html": '<a href="/" role="button" draggable="false" class="c-button c-button--transparent c-button--sm align-bottom" title="Eliminar" aria-labelledby="acciones item2">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M140 41.188a10.5 10.5 0 0 0-10.5-10.5h-23.632a3.5 3.5 0 0 1-3.43-2.8 33.334 33.334 0 0 0-65.45 0 3.514 3.514 0 0 1-3.43 2.8H10.5a10.5 10.5 0 0 0 0 21H14a3.5 3.5 0 0 1 3.5 3.5v63a21 21 0 0 0 21 21h63a21 21 0 0 0 21-21v-63a3.5 3.5 0 0 1 3.5-3.5h3.5a10.5 10.5 0 0 0 10.5-10.5Zm-70.294-22.82A15.512 15.512 0 0 1 82.6 25.2a3.556 3.556 0 0 1 .21 3.626 3.5 3.5 0 0 1-3.094 1.862h-19.95a3.5 3.5 0 0 1-2.884-5.488 15.4 15.4 0 0 1 12.824-6.832ZM57.75 107.632a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Zm42 0a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Z" fill="currentColor"></path></svg>
                        <span id="acciones" class="sr-only">Borrar</span>
                      </a>',
              "classes": "text-center"
            }
          ]
        ],
        "wrapper": {
          "classes": "relative overflow-x-auto pb-base"
        },
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de items #}
  </section>

  {# Paginacion #}
  <div class="mt-xs">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "hasSelect": true,
      "idPrefix": "pagination",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-labelledby": "paginacion"
      }
    })  }}
  </div>

{% endblock %}