{% set title = "Edción de Usuario. Gestión de Estiércoles. Gobierno de Aragón" %}
{% extends "pages/_template.AGSTI-edicion.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/input/_macro.input.njk" import componentInput %}


{# Cabecera #}
{% block headerTitleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="self-start mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M45.6 27.144 28.229 44.52 20.37 45.6l1.08-7.858 17.371-17.37 6.778 6.772zM8.4 10.8a8.4 8.4 0 1 0 16.8 0 8.4 8.4 0 1 0-16.8 0ZM21.355 27.134A14.4 14.4 0 0 0 2.4 40.8v4.8h7.2" stroke-width="4.8"/></g></svg>
{% endblock %}
{% block headerTitleEditBlock %}
  <h1 class="uppercase">
    Edición Usuario
  </h1>
{% endblock %}
{% block headerActionsEditBlock %}
  <nav aria-labelledby="acciones-de-cabecera">
    <p class="sr-only" id="acciones-de-cabecera">Menú de acciones</p>
    <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
      <li>
        {{ componentButton({
          "text": "Guardar",
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Cancelar",
          "href": "#"
        })  }}
      </li>
    </ul>
  </nav>
{% endblock %}

{# Contenido de página #}
{% block contentBlock %}

  <form id="form-busqueda-avanzada" class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-7 py-base">
    {{ componentInput({
      "label": {
        "html": 'NIF'
      },
      "id": "nif",
      "name": "nif",
      "value": "12345678Z",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "html": 'Nombre'
      },
      "id": "nombre",
      "name": "nombre",
      "value": "Agustín",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "html": 'Apellido 1'
      },
      "id": "apellido1",
      "name": "apellido1",
      "value": "Fernández",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "label": {
        "html": 'Apellido 2'
      },
      "id": "apellido2",
      "name": "apellido2",
      "value": "Diaz",
      "classes": "w-full"
    })  }}
  </form>

  
{% endblock %}