{% set title = "Firma. AppName. Gobierno de Aragón" %}
{% extends "pages/_template.mfe-iframe-content.njk" %}

{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}

{% block notificationHeaderBlock %}
{% endblock %}

{% block contentBlock %}
  {{ componentRadios({
    "idPrefix": "identificacion",
    "name": "identificacion",
    "fieldset": {
      "legend": {
        "html": '<h2>¿Cómo quieres firmar?</h2>',
        "classes": "c-h2"
      }
    },
    "hint": {
      "html": '<span class="sr-only">Por favor, selecciona una opción para firmar.</span>Para firmar necesitarás estar <a href="#" class="c-link">registrado con nivel avanzado en <span aria-label="Clave">Cl@ve</span></a>, o bien, deberás tener instalada la aplicación de escritorio <a href="#" class="c-link">Autofirma</a> para firmar con tu certificado electrónico.'
    },
    "items": [
      {
        "value": "clavefirma",
        "html": 'Con <span aria-label="Clavefirma">Cl@veFirma</span>',
        "hint": {
          "html": 'Esta es la opción recomendada si no tienes certificado electrónico y/o estás registrado con nivel avanzado en <span aria-label="Clave">Cl@ve</span>.'
        },
        "checked": true
      },
      {
        "value": "afirma",
        "text": "Con certificado electrónico",
        "hint": {
          "html": 'Para firmar usando tu certificado electrónico o DNIe con la aplicación <a href="#" class="c-link" title="Descarga la aplicación Autofirma">AutoFirma</a>.'
        }
      }
    ]
  })  }}
  {{ componentButton({
    "text": "Firmar",
    "classes": "c-button--primary"
  })  }}  
  <hr class="border-t border-neutral-base my-lg">
  <p class="c-paragraph-sm my-lg">
    Consultar <a href="#" target="_blank" class="c-link" title="Se abre en pestaña nueva">Manual de ayuda</a>
  </p>
{% endblock %}

{% block notificationFooterBlock %}
{% endblock %}

{% block modalBlock %}
{% endblock %}