{% set title = "Estructura de edición con menú lateral. Gestión de Estiércoles. Gobierno de Aragón" %}
{% extends "pages/_template.AGSTI-edicion.njk" %}

{# Dependencias #}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/skip-link/_macro.skip-link.njk" import componentSkipLink %}


{# Cabecera #}
{% block headerTitleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.4em" height="2.4em" aria-hidden="true" focusable="false" class="self-start mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="m77.154 85.876-28 4.942 4.942-28L107.24 9.8a9.296 9.296 0 0 1 13.16 0l9.87 9.87a9.296 9.296 0 0 1 0 13.16Z" stroke-width="14"/><path d="M119 94.038V123.2a9.8 9.8 0 0 1-9.926 9.8H16.926A9.8 9.8 0 0 1 7 123.2V30.8a9.8 9.8 0 0 1 9.926-9.8H46.69" stroke-width="14"/></g></svg>
{% endblock %}
{% block headerTitleEditBlock %}
  <h1 class="uppercase">
    Editando item
    <span class="c-h3 block normal-case">Título del item editado (h1)</span>
  </h1>
{% endblock %}
{% block headerActionsEditBlock %}
  <nav aria-labelledby="acciones-de-cabecera">
    <p class="sr-only" id="acciones-de-cabecera">Menú de acciones</p>
    <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
      <li>
        {{ componentButton({
          "text": "Guardar y salir",
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Guardar",
          "href": "#"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Salir",
          "href": "#"
        })  }}
      </li>
    </ul>
  </nav>
{% endblock %}

{% block headerSkipLinkBlock %}
  <!-- headerSkipLinkBlock -->
  {{ componentSkipLink({
    "text": "Saltar al contenido principal",
    "href": "#content-center"
  })  }}
  <!-- /headerSkipLinkBlock -->
{% endblock %}

{# Contenido de página #}
{% block contentBlock %}
  <!-- contentBlock -->
  <div class="grid grid-cols-4 gap-x-lg -mt-base sm:-mt-lg">
    <div class="sticky top-0 hidden lg:block lg:col-span-1 h-screen  lg:-mt-2xl lg:pt-24 pb-lg overflow-y-auto">
      <!-- sidebarBlock -->
      {% block sidebarBlock %}
        <h2 id="apartados-de-pagina" class="sr-only">Índice de apartados de esta página</h2>
        {{ componentMenuVertical({
          "idPrefix": "sidebar-item",
          "items": [
            {
              "href": "#datos-generales",
              "text": "Datos generales",
              "sub": {
                "items": [
                  {
                    "href": "#denominacion",
                    "text": "Denominación"
                  },
                  {
                    "href": "#descripcion",
                    "text": "Descripción"
                  },
                  {
                    "href": "#organos-o-unidades-gestoras",
                    "text": "Órganos o unidades gestoras"
                  },
                  {
                    "href": "#categorias",
                    "text": "Categorías"
                  },
                  {
                    "href": "#etiquetas-libres",
                    "text": "Etiquetas libres"
                  }
                ]
              }
            },
            {
              "text": "Normativa general",
              "href": "#normativa-general"
            },
            {
              "href": "#caracteristicas-generales-de-tramitacion",
              "text": "Características generales de tramitación",
              "sub": {
                "items": [
                  {
                    "href": "#grupos-de-destinatarios",
                    "text": "Grupos de destinatarios"
                  },
                  {
                    "href": "#destinatarios",
                    "text": "Destinatarios"
                  },
                  {
                    "href": "#requisitos-generales",
                    "text": "Requisitos generales"
                  },
                  {
                    "href": "#canales-de-informacion",
                    "text": "Canales de información"
                  },
                  {
                    "href": "#tramites-principales",
                    "text": "Trámites principales"
                  },
                  {
                    "href": "#resolucion",
                    "text": "Resolución"
                  }
                ]
              }
            }
          ],
          "attributes": {
            "aria-labelledby": "apartados-de-pagina"
          }
        })  }}      
      {% endblock %}
      <!-- /sidebarBlock -->
    </div>
    <section id="content-center" class="col-span-4 lg:col-span-3 py-base lg:-mt-2xl lg:pt-28 lg:pl-lg" aria-label="Contenido central">
      <!-- notificationInnerContentBlock -->
      {% block notificationInnerContentBlock %}
        {% include "pages/_page.notification-edit-inner-content.njk" %}
      {% endblock %}
      <!-- /notificationInnerContentBlock -->
      <!-- innerContentBlock -->
      {% block innerContentBlock %}
        <h2 id="datos-generales" class="c-h1 c-anchor-scroll-edit">Datos generales (h2)</h2>
        <h3 id="denominacion" class="c-anchor-scroll-edit c-h3">Denominación (h3)</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <p class="c-paragraph-base">
          Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-header-container').removeAttribute('aria-hidden'); openAlert('notification-header', this);">Notification header</a> / 
          Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-footer-container').removeAttribute('aria-hidden'); openAlert('notification-footer', this);">Notification footer</a> / 
          Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-inner-content-container').removeAttribute('aria-hidden'); openAlert('notification-inner-content', this);">Notification inner-content (sólo en páginas con barra lateral)</a>
        </p>
        <div class="pb-xl"></div>
        <h3 id="descripcion" class="c-anchor-scroll-edit c-h3">Descripción</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <h3 id="organos-o-unidades-gestoras" class="c-anchor-scroll-edit c-h3">Órganos o unidades gestoras</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <h3 id="categorias" class="c-anchor-scroll-edit c-h3">Categorías</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <h3 id="etiquetas-libres" class="c-anchor-scroll-edit c-h3">Etiquetas libres</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <hr class="border-neutral-base my-2xl">
        <h2 id="normativa-general" class="c-h1 c-anchor-scroll-edit">Normativa general</h2>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <hr class="border-neutral-base my-2xl">
        <h2 id="caracteristicas-generales-de-tramitacion" class="c-h1 c-anchor-scroll-edit">Características generales de tramitación</h2>
        <h3 id="grupos-de-destinatarios" class="c-anchor-scroll-edit c-h3">Grupos de destinatarios</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <h3 id="destinatarios" class="c-anchor-scroll-edit c-h3">Destinatarios</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <h3 id="requisitos-generales" class="c-anchor-scroll-edit c-h3">Requisitos generales</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <h3 id="canales-de-informacion" class="c-anchor-scroll-edit c-h3">Canales de información</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <h3 id="tramites-principales" class="c-anchor-scroll-edit c-h3">Trámites principales</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <h3 id="resolucion" class="c-anchor-scroll-edit c-h3">Resolución</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
      {% endblock %}
      <!-- /innerContentBlock -->
    </section>
  </div>
  <!-- /contentBlock -->
{% endblock %}