{% set title = "Estructura de página con menú lateral. Gestión de Estiércoles. Gobierno de Aragón" %}
{% extends "pages/_template.AGSTI-principal.njk" %}

{# Dependencias #}
{% from "components/alert/_macro.alert.njk" import componentAlert %}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% set skipLinkHref = "#content-center" %}

{% block contentBlock %}
  <!-- headerContentBlock -->
  {% block headerContentBlock %}
    <h1 class="c-h1">Título de página (h1)</h1>
    <p class="c-paragraph-base mb-lg">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum et, laboriosam perferendis nesciunt. Recusandae, dolorum! Error doloribus, quisquam. Quasi possimus provident delectus incidunt voluptas quos quaerat quis minima itaque impedit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum et, laboriosam perferendis nesciunt. Recusandae, dolorum! Error doloribus, quisquam. Quasi possimus provident delectus incidunt voluptas quos quaerat quis minima itaque impedit.
    </p>
  {% endblock %}
  <!-- /headerContentBlock -->
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-xl mt-xl">
    <div class="col-span-2 lg:col-span-1">
      <!-- sidebarBlock -->
      {% block sidebarBlock %}
        <h2 id="apartados-de-pagina" class="sr-only">Índice de apartados de esta página</h2>
        {{ componentMenuVertical({
          "idPrefix": "sidebar-item",
          "items": [
            {
              "href": "#datos-generales",
              "text": "Datos generales",
              "sub": {
                "items": [
                  {
                    "href": "#denominacion",
                    "text": "Denominación"
                  },
                  {
                    "href": "#descripcion",
                    "text": "Descripción"
                  },
                  {
                    "href": "#organos-o-unidades-gestoras",
                    "text": "Órganos o unidades gestoras"
                  },
                  {
                    "href": "#categorias",
                    "text": "Categorías"
                  },
                  {
                    "href": "#etiquetas-libres",
                    "text": "Etiquetas libres"
                  }
                ]
              }
            },
            {
              "href": "#",
              "text": "Normativa general"
            },
            {
              "href": "#",
              "text": "Características generales de tramitación",
              "sub": {
                "items": [
                  {
                    "href": "#",
                    "text": "Grupos de destinatarios"
                  },
                  {
                    "href": "#",
                    "text": "Destinatarios"
                  },
                  {
                    "href": "#",
                    "text": "Requisitos generales"
                  },
                  {
                    "href": "#",
                    "text": "Canales de información"
                  },
                  {
                    "href": "#",
                    "text": "Trámites principales"
                  },
                  {
                    "href": "#",
                    "text": "Resolución"
                  }
                ]
              }
            }
          ],
          "attributes": {
            "aria-labelledby": "apartados-de-pagina"
          }
        })  }}
      {% endblock %}
      <!-- /sidebarBlock -->
    </div>
    <section id="content-center" class="col-span-2 lg:col-span-3" aria-label="Contenido central">
      <!-- notificationInnerContentBlock -->
      {% block notificationInnerContentBlock %}
        {% include "pages/_page.notification-edit-inner-content.njk" %}
      {% endblock %}
      <!-- /notificationInnerContentBlock -->
      <!-- innerContentBlock -->
      {% block innerContentBlock %}
        <h2 id="datos-generales" class="c-h2 c-anchor-scroll">Datos generales (h2)</h2>
        <h3 id="denominacion" class="c-anchor-scroll c-h3">Denominación (h3)</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <p class="c-paragraph-base">
          Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-header-container').removeAttribute('aria-hidden'); openAlert('notification-header', this);">Notification header</a> / 
          Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-footer-container').removeAttribute('aria-hidden'); openAlert('notification-footer', this);">Notification footer</a> / 
          Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-inner-content-container').removeAttribute('aria-hidden'); openAlert('notification-inner-content', this);">Notification inner-content (sólo en páginas con barra lateral)</a>
        </p>
        <div class="pb-xl"></div>
        <h3 id="descripcion" class="c-anchor-scroll c-h3">Descripción</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <h3 id="organos-o-unidades-gestoras" class="c-anchor-scroll c-h3">Órganos o unidades gestoras</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <h3 id="categorias" class="c-anchor-scroll c-h3">Categorías</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <div class="pb-xl"></div>
        <h3 id="etiquetas-libres" class="c-anchor-scroll c-h3">Etiquetas libres</h3>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
      {% endblock %}
      <!-- /innerContentBlock -->
    </section>
  </div>
{% endblock %}

