{% set title = "Nueva Declaración EECC. Gestión de Estiércoles. Gobierno de Aragón" %}
{% extends "pages/_template.AGSTI-edicion.njk" %}

{# Dependencias #}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/radios/_macro.radios.njk" import componentRadios %}
{% from "components/table/_macro.table.njk" import componentTable %}

{# Definiciones #}
{% set checkDeclara %}
  {{ componentCheckboxes({
    "idPrefix": "resultado1",
    "name": "resultado1",
    "formGroup": {
      "classes": "-my-sm"
    },
    "classes": "c-checkboxes--sm ml-2",
    "items": [
      {
        "value": "other",
        "html": 'Declarante',
        "label": {
          "classes": "-mt-1 sr-only"
        }
      }
    ]
  })  }}
{% endset %}


{# Cabecera #}
{% block headerTitleIcon %}
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="2.5em" height="2.5em" aria-hidden="true" focusable="false" class="self-start mr-base text-neutral-dark"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><path d="M45.5 101.5h49M70 77v49M126 112a7 7 0 007-7V21a7 7 0 00-7-7H14a7 7 0 00-7 7v84a7 7 0 007 7M7 42h126" stroke-width="14"></path></g></svg>
{% endblock %}
{% block headerTitleEditBlock %}
  <h1 class="uppercase">
    Nueva Declaración
  </h1>
{% endblock %}
{% block headerActionsEditBlock %}
  <nav aria-labelledby="acciones-de-cabecera">
    <p class="sr-only" id="acciones-de-cabecera">Menú de acciones</p>
    <ul class="flex flex-wrap flex-column-reverse lg:flex-row-reverse gap-sm lg:items-center lg:ml-auto lg:pl-base">
      <li>
        {{ componentButton({
          "text": "Declarar",
          "href": "#",
          "classes": "c-button--primary"
        })  }}
      </li>
      <li>
        {{ componentButton({
          "text": "Cancelar",
          "href": "#"
        })  }}
      </li>
    </ul>
  </nav>
{% endblock %}

{# Contenido de página #}
{% block contentBlock %}
  <h2 class="c-h2">Selección de Empresa declarante</h2>
  
  {{ componentRadios({
    "idPrefix": "default",
    "name": "default",
    "formGroup": {
        "classes": 'mb-base'
      },
    "fieldset": {
      "legend": {
        "text": "Tipo de declaración:"
      }
    },
    "items": [
      {
        "value": "yes",
        "text": "Declaración de un centro gestor de estiércoles",
        "checked": true
      },
      {
        "value": "no",
        "text": "Declaración de una explotación"
      }
    ]
  })  }}
  <hr class="border-neutral-base mb-sm">

  <fieldset class="grid md:grid-cols-2 lg:grid-cols-4 gap-x-7 py-base">
    <legend class="sr-only">NIF/CIF a buscar</legend>
    {{ componentInput({
      "label": {
        "html": 'NIF/CIF Empresa'
      },
      "id": "nif",
      "name": "nif",
      "placeholder": "Escribe el NIF/CIF",
      "classes": "w-full"
    })  }} 
    {{ componentInput({
      "formGroup": {
        "classes": 'md:col-span-3'
      },
      "label": {
        "html": 'Nombre/Razón social'
      },
      "id": "nombre",
      "name": "nombre",
      "classes": "w-full",
      "disabled": true
    })  }} 
    <div class="md:col-span-4 text-right">
      {{ componentButton({
        "text": "Buscar"
      })  }}
    </div>    
  </fieldset>

  <div class="max-w-full overflow-x-auto mb-base">
    {{ componentTable({
      "caption": "Centros / Explotaciones",
      "captionClasses": "text-left c-h3 mb-base",
      "classes": "w-full",
      "head": [
        {
          "html": '<abbr title="Código">Cód.</abbr> REGA / <abbr title="Número">Nº</abbr> SANDACH'
        },
        {
          "html": 'Denominación'
        },
        {
          "html": 'Localidad'
        },
        {
          "html": 'Declara'
        }
      ],
      "rows": [
        [
          {
            "html": '2200023839'
          },
          {
            "html": 'Santalecina Ganadera S.L.'
          },
          {
            "html": 'Sariñena'
          },
          {
            "html": checkDeclara
          }
        ]
      ]
    })  }}
  </div>
  
{% endblock %}