{% set title = "Área privada - Estadísticas. Gestión de Estiércoles. Gobierno de Aragón" %}
{% extends "pages/_template.AGSTI-privada.njk" %}

{# Dependencias #}
{% from "components/alert/_macro.alert.njk" import componentAlert %}
{% from "components/menu-vertical/_macro.menu-vertical.njk" import componentMenuVertical %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}


{% set skipLinkHref = "#content-center" %}

{% block contentBlock %}
  <!-- headerContentBlock -->
  {% block headerContentBlock %}
    <h1 class="c-h2 mb-0">Validaciones</h1>
  {% endblock %}
  <!-- /headerContentBlock -->
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-xl">
    <div class="col-span-2 lg:col-span-1">
      <!-- sidebarBlock -->
      {% block sidebarBlock %}
        <h2 id="apartados-de-pagina" class="sr-only">Índice de apartados de esta página</h2>
        {{ componentMenuVertical({
          "idPrefix": "sidebar-item",
          "items": [
            {
              "href": "#",
              "text": "Total declarado",
              "active": true
            },
            {
              "href": "#",
              "text": "Coherencia de declaraciones"
            },
            {
              "href": "#",
              "text": "Duplicidades"
            },
            {
              "href": "#",
              "text": "Notrógeno aportado"
            },
            {
              "href": "#",
              "text": "Reconocimiento del valor de N"
            }
          ],
          "attributes": {
            "aria-labelledby": "apartados-de-pagina"
          }
        })  }}
      {% endblock %}
      <!-- /sidebarBlock -->
    </div>
    <section id="content-center" class="col-span-2 lg:col-span-3 -mt-base" aria-label="Contenido central">
      <!-- notificationInnerContentBlock -->
      {% block notificationInnerContentBlock %}
        {% include "pages/_page.notification-edit-inner-content.njk" %}
      {% endblock %}
      <!-- /notificationInnerContentBlock -->
      <!-- innerContentBlock -->
      {% block innerContentBlock %}
        <h2 class="c-h1">Total declarado</h2>
        <p class="c-paragraph-base">
          Prueba de menú lateral para los subapartados de Validaciones. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <p class="c-paragraph-base">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam facilis sapiente ea explicabo ipsa dolores placeat quis quam ut officia voluptas sed natus eius sequi inventore, saepe repellendus quae.
        </p>
        <p class="c-paragraph-base">
          Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-header-container').removeAttribute('aria-hidden'); openAlert('notification-header', this);">Notification header</a> / 
          Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-footer-container').removeAttribute('aria-hidden'); openAlert('notification-footer', this);">Notification footer</a> / 
          Abrir <a href="javascript:void(0)" class="c-link" onclick="document.getElementById('notification-inner-content-container').removeAttribute('aria-hidden'); openAlert('notification-inner-content', this);">Notification inner-content (sólo en páginas con barra lateral)</a>
        </p>
      {% endblock %}
      <!-- /innerContentBlock -->
    </section>
  </div>
{% endblock %}

