{% set title = "Área privada - Configuración. Gestión de Estiércoles. Gobierno de Aragón" %}
{% extends "pages/_template.AGSTI-privada.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/checkboxes/_macro.checkboxes.njk" import componentCheckboxes %}
{% from "components/details/_macro.details.njk" import componentDetails %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/menubar/_macro.menubar.njk" import componentMenubar %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/notification/_macro.notification.njk" import componentNotification %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/table-advanced/_macro.table-advanced.njk" import componentTableAdvanced %}
{% from "components/textarea/_macro.textarea.njk" import componentTextarea %}


{% block contentBlock %}
  
  {# Titulo #}
  <h1 id="page-title" class="c-h1 flex-1">Configuración de funcionalidades de la aplicación</h1>
 

  {# Avisos #}
  <section aria-labelledby="avisos">
    <h2 id="avisos" class="c-h2">Avisos a usuarios en el portal público</h2>
    <div class="p-base border border-neutral-base rounded mb-base">
      <fieldset aria-labelledby="user-centro-gestor">
        <legend id="user-centro-gestor" class="font-bold">Usuario público - Centro Gestor de Estiércoles</legend>
        {{ componentCheckboxes({
          "idPrefix": "aviso-centro-gestor",
          "name": "aviso-centro-gestor",
          "items": [
            {
              "value": "activado",
              "text": "Aviso activado"
            }
          ],
          "formGroup": {
            "classes": "mb-sm"
          }
        })  }}
        {{ componentInput({
          "id": "title-aviso-centro-gestor",
          "name": "title-aviso-centro-gestor",
          "label": {
            "text": "Título del aviso"
          },
          "placeholder": "Escriba el título del aviso...",
          "classes": "w-full lg:w-2/3",
          "formGroup": {
            "classes": "mb-lg"
          }
        })  }}
        {{ componentTextarea({
          "id": "desc-aviso-centro-gestor",
          "name": "desc-aviso-centro-gestor",
          "label": {
            "text": "Descripción del aviso"
          },
          "placeholder": "Describa aquí el aviso...",
          "rows": 3,
          "classes": "w-full lg:w-2/3"
        })  }}
      </fieldset>
      <hr class="border-neutral-base mb-lg"><!--linea separadora-->
      <fieldset aria-labelledby="user-ganadero">
        <legend id="user-ganadero" class="font-bold">Usuario público - Ganadero</legend>
        {{ componentCheckboxes({
          "idPrefix": "aviso-ganadero",
          "name": "aviso-ganadero",
          "items": [
            {
              "value": "activado",
              "text": "Aviso activado"
            }
          ],
          "formGroup": {
            "classes": "mb-sm"
          }
        })  }}
        {{ componentInput({
          "id": "title-aviso-ganadero",
          "name": "title-aviso-ganadero",
          "label": {
            "text": "Título del aviso"
          },
          "placeholder": "Escriba el título del aviso...",
          "classes": "w-full lg:w-2/3",
          "formGroup": {
            "classes": "mb-lg"
          }
        })  }}
        {{ componentTextarea({
          "id": "desc-aviso-ganadero",
          "name": "desc-aviso-ganadero",
          "label": {
            "text": "Descripción del aviso"
          },
          "placeholder": "Describa aquí el aviso...",
          "rows": 3,
          "classes": "w-full lg:w-2/3"
        })  }}
      </fieldset>
      <hr class="border-neutral-base mb-lg"><!--linea separadora-->
      <fieldset aria-labelledby="user-entidad-colabora">
        <legend id="user-entidad-colabora" class="font-bold">Entidades colaboradoras</legend>
        {{ componentCheckboxes({
          "idPrefix": "aviso-entidad-colabora",
          "name": "aviso-entidad-colabora",
          "items": [
            {
              "value": "activado",
              "text": "Aviso activado"
            }
          ],
          "formGroup": {
            "classes": "mb-sm"
          }
        })  }}
        {{ componentInput({
          "id": "title-aviso-entidad-colabora",
          "name": "title-aviso-entidad-colabora",
          "label": {
            "text": "Título del aviso"
          },
          "placeholder": "Escriba el título del aviso...",
          "classes": "w-full lg:w-2/3",
          "formGroup": {
            "classes": "mb-lg"
          }
        })  }}
        {{ componentTextarea({
          "id": "desc-aviso-entidad-colabora",
          "name": "desc-aviso-entidad-colabora",
          "label": {
            "text": "Descripción del aviso"
          },
          "placeholder": "Describa aquí el aviso...",
          "rows": 3,
          "classes": "w-full lg:w-2/3"
        })  }}
      </fieldset>
      <ul class="flex flex-wrap gap-sm">
        <li>
          {{ componentButton({
            "text": "Guardar avisos",
            "classes": "c-button--primary"
          })  }}  
        </li>
        <li>  
          {{ componentButton({
            "text": "Cancelar"
          })  }}
        </li>
      </ul>
    </div>  
  </section>

  <div class="pb-xl"></div><!--espaciador-->

  {# Listado Plazos de campañas #}
  <section aria-labelledby="campañas">
    <h2 id="campañas" class="c-h2">Plazos de campañas</h2>
    <div class="p-base border border-neutral-base rounded mb-base">
      {# Instrucciones de funcionamiento de la tabla #}
      {% call componentDetails({
        "summary": {
          "html": "Acerca de esta tabla"
        },
        "classes": "mb-xs text-sm"
      })  %}
          <div id="descTable1">
            <p>Las cabeceras de columna tienen opción de ordenación.</p>
            <p>La primera columna contiene enlaces de acceso y edición a los items.</p>
            <p>Puedes realizar acciones sobre cada item mediante los botones situados en la última columna.</p>
            <p>Puedes realizar más acciones sobre el listado mediante los botones situados encima de la tabla a la derecha.</p>
          </div>
      {% endcall %}
      {# Barra de Acciones #}
      <section class="lg:flex lg:flex-wrap lg:w-full" aria-labelledby="acciones-items1">
        <h3 id="acciones-items1" class="sr-only">Acciones sobre la tabla de plazos de campaña</h3>
        <div class="flex lg:items-start lg:ml-auto lg:pl-base">
          {{ componentMenubar({
            "id": "actions-table1-menubar",
            "idPrefix": "actions-table1",
            "ariaLabel":"Acciones sobre los items seleccionados de la tabla",
            "items": [
              {
                "html": 'Nueva campaña',
                "ariaLabel": "Nueva campaña",
                "id": "actions-table1-item-1",
                "classes": "c-menubar__button--primary c-menubar__button--sm mb-sm mr-sm",
                "href": "#"
              }
            ],
            "attributes": {
              "aria-label": "Acciones de la tabla"
            }
          })  }}
        </div>
      </section>
      {# fin Barra de Acciones #}    
      {# Tabla-Listado de items #}
      <div class="max-w-full overflow-x-auto">
        {{ componentTableAdvanced({
          "idPrefix": "listado-plazos-campañas",
          "caption": "Listado de plazos de campañas",
          "captionClasses": "sr-only",
          "attributes": {
            "aria-describedby": "descTable1"
          },
          "head": [
            {
              "html": 'Identificador',
              "orderBy": "none"
            },
            {
              "html": 'Campaña',
              "orderBy": "none"
            },
            {
              "html": 'Usuario',
              "orderBy": "none"
            },
            {
              "html": 'Inicio',
              "orderBy": "none"
            },
            {
              "html": 'Fin',
              "orderBy": "none"
            },
            {
              "html": '<span class="sr-only">Acciones</span>'
            }
          ],
          "rows": [
            [
              {
                "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">1</a>',
                "attributes": {
                  "id": "item2"
                }
              },
              {
                "html": '2022'
              },
              {
                "html": 'Centro gestores'
              },
              {
                "html": '21/01/2022'
              },
              {
                "html": '21/03/2022'
              },
              {
                "html": '<a href="/" role="button" draggable="false" class="c-button c-button--transparent c-button--sm align-bottom" title="Eliminar" aria-labelledby="acciones item2">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M140 41.188a10.5 10.5 0 0 0-10.5-10.5h-23.632a3.5 3.5 0 0 1-3.43-2.8 33.334 33.334 0 0 0-65.45 0 3.514 3.514 0 0 1-3.43 2.8H10.5a10.5 10.5 0 0 0 0 21H14a3.5 3.5 0 0 1 3.5 3.5v63a21 21 0 0 0 21 21h63a21 21 0 0 0 21-21v-63a3.5 3.5 0 0 1 3.5-3.5h3.5a10.5 10.5 0 0 0 10.5-10.5Zm-70.294-22.82A15.512 15.512 0 0 1 82.6 25.2a3.556 3.556 0 0 1 .21 3.626 3.5 3.5 0 0 1-3.094 1.862h-19.95a3.5 3.5 0 0 1-2.884-5.488 15.4 15.4 0 0 1 12.824-6.832ZM57.75 107.632a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Zm42 0a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Z" fill="currentColor"></path></svg>
                          <span id="acciones" class="sr-only">Borrar</span>
                        </a>',
                "classes": "text-center"
              }
            ],
            [
              {
                "html": '<a href="#" class="c-link font-semibold whitespace-nowrap">2</a>',
                "attributes": {
                  "id": "item2"
                }
              },
              {
                "html": '2022'
              },
              {
                "html": 'Ganaderos'
              },
              {
                "html": '30/01/2022'
              },
              {
                "html": '30/03/2022'
              },
              {
                "html": '<a href="/" role="button" draggable="false" class="c-button c-button--transparent c-button--sm align-bottom" title="Eliminar" aria-labelledby="acciones item2">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140" width="1.3em" height="1.3em" aria-hidden="true"><path d="M140 41.188a10.5 10.5 0 0 0-10.5-10.5h-23.632a3.5 3.5 0 0 1-3.43-2.8 33.334 33.334 0 0 0-65.45 0 3.514 3.514 0 0 1-3.43 2.8H10.5a10.5 10.5 0 0 0 0 21H14a3.5 3.5 0 0 1 3.5 3.5v63a21 21 0 0 0 21 21h63a21 21 0 0 0 21-21v-63a3.5 3.5 0 0 1 3.5-3.5h3.5a10.5 10.5 0 0 0 10.5-10.5Zm-70.294-22.82A15.512 15.512 0 0 1 82.6 25.2a3.556 3.556 0 0 1 .21 3.626 3.5 3.5 0 0 1-3.094 1.862h-19.95a3.5 3.5 0 0 1-2.884-5.488 15.4 15.4 0 0 1 12.824-6.832ZM57.75 107.632a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Zm42 0a8.75 8.75 0 0 1-17.5 0v-35a8.75 8.75 0 1 1 17.5 0Z" fill="currentColor"></path></svg>
                          <span id="acciones" class="sr-only">Borrar</span>
                        </a>',
                "classes": "text-center"
              }
            ]          
          ],
          "wrapper": {
            "classes": "relative overflow-x-auto pb-base"
          },
          "classes": "min-w-full"
        })  }}
      </div>
      {# fin Tabla-Listado de items #}
      {# Paginacion #}
      <div class="mb-sm">
        <h2 id="paginacion" class="sr-only">Paginación</h2>
        {{ componentPagination({
          "hasSelect": true,
          "idPrefix": "pagination",
          "totalItems": "64",
          "itemsPerPage": "10",
          "items": [
            {
              "href": "#",
              "text": 1,
              "active": true
            },
            {
              "href": "#",
              "text": 2
            },
            {
              "href": "#",
              "text": 3
            },
            {
              "href": "#",
              "text": 4
            },
            {
              "href": "#",
              "text": 5
            },
            {
              "href": "#",
              "text": 6
            }
          ],
          "hasPrevious": false,
          "hasNext": true,
          "previousText": "Anterior",
          "nextText": "Siguiente",
          "attributes": {
            "aria-labelledby": "paginacion"
          }
        })  }}
      </div>
    </div>
  </section>

  <div class="pb-xl"></div><!--espaciador-->

  {# Configuracion interna #}
  <section aria-labelledby="configuracion-interna">
    <h2 id="configuracion-interna" class="c-h2">Configuración interna de la aplicación</h2>
    <div class="p-base border border-neutral-base rounded mb-base">
      {{ componentNotification({
        "title": {
          "text": "Cambie estos valores sólo si está seguro, su modifcación puede hacer que deje de funcionar la aplicación"
        },
        "icon": {
          "html": "<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 140 140\" width=\"1em\" height=\"1em\" class=\"w-8 h-8\" aria-label=\"Atención\" focusable=\"false\"><path d=\"M138.42 118.29l-55-110a15 15 0 00-26.84 0l-55 110A15 15 0 0015 140h110a15 15 0 0013.42-21.71zM62.5 50a7.5 7.5 0 0115 0v30a7.5 7.5 0 01-15 0zm7.5 70a10 10 0 1110-10 10 10 0 01-10 10z\" fill=\"currentColor\"/></svg>"
        },
        "id": "with-custom-icon",
        "classes": "border-warning-base bg-warning-light mb-base"
      })  }}
      {{ componentInput({
        "id": "url-num-1",
        "name": "url-num-1",
        "label": {
          "text": "URL del servicio xxxxxx"
        },
        "value": "https://preaplicaciones.aragon.es/ccsv_core/services/DocumentMetadataWS?wsdl",
        "classes": "w-full",
        "formGroup": {
          "classes": "mb-base"
        }
      })  }}
      {{ componentInput({
        "id": "url-num-2",
        "name": "url-num-2",
        "label": {
          "text": "URL del servicio xxxxxx"
        },
        "value": "https://preaplicaciones.aragon.es/ccsv_core/services/DocumentMetadataWS?wsdl",
        "classes": "w-full",
        "formGroup": {
          "classes": "mb-base"
        }
      })  }}
      {{ componentInput({
        "id": "url-num-3",
        "name": "url-num-3",
        "label": {
          "text": "URL del servicio xxxxxx"
        },
        "value": "https://preaplicaciones.aragon.es/ccsv_core/services/DocumentMetadataWS?wsdl",
        "classes": "w-full",
        "formGroup": {
          "classes": "mb-base"
        }
      })  }}
      <ul class="flex flex-wrap gap-sm mt-lg">
        <li>
          {{ componentButton({
            "text": "Guardar configuración",
            "classes": "c-button--primary"
          })  }}  
        </li>
        <li>  
          {{ componentButton({
            "text": "Cancelar"
          })  }}
        </li>
      </ul>  
    </div>  
  </section>

{% endblock %}