{% set title = "Área privada - Estadísticas. Gestión de Estiércoles. Gobierno de Aragón" %}
{% extends "pages/_template.AGSTI-privada.njk" %}

{# Dependencias #}
{% from "components/button/_macro.button.njk" import componentButton %}
{% from "components/dropdown/_macro.dropdown.njk" import componentDropdown %}
{% from "components/input/_macro.input.njk" import componentInput %}
{% from "components/nav/_macro.nav.njk" import componentNav %}
{% from "components/pagination/_macro.pagination.njk" import componentPagination %}
{% from "components/select/_macro.select.njk" import componentSelect %}
{% from "components/table/_macro.table.njk" import componentTable %}


{% block contentBlock %}
  
  <h1 id="page-title" class="c-h1 flex-1">Estadísticas</h1>

<div class="w-full lg:w-3/4">
  {# Filtro #}
  <section class="w-full mb-base lg:mb-lg" aria-labelledby="filtros-busqueda">
    <h2 id="filtros-busqueda" class="sr-only">Búsqueda avanzada</h2>
    <form id="form-busqueda-avanzada" class="lg:flex lg:flex-wrap gap-x-7 items-end">
      {{ componentSelect({
        "id": "tipo-informe",
        "name": "tipo-informe",
        "formGroup": {
          "classes": "flex-1"
        },
        "classes": "w-full",
        "label": {
          "html": 'Tipo de informe'
        },
        "items": [
          {
            "value": 0,
            "text": "Selecciona un tipo...",
            "selected": true,
            "disabled": true,
            "hidden": true
          },
          {
            "value": 1,
            "text": "Declaraciones por Especie"
          },
          {
            "value": 2,
            "text": "Declaracions por OCA"
          },
          {
            "value": 3,
            "text": "Declaraciones por Centro gestor"
          }
        ]
      })  }}      
      {{ componentSelect({
        "id": "campaña",
        "name": "campaña",
        "formGroup": {
          "classes": "flex-1"
        },
        "classes": "w-full",
        "label": {
          "html": 'Campaña'
        },
        "items": [
          {
            "value": 0,
            "text": "Selecciona una campaña...",
            "selected": true,
            "disabled": true,
            "hidden": true
          },
          {
            "value": 1,
            "text": "2020"
          },
          {
            "value": 2,
            "text": "2021"
          },
          {
            "value": 3,
            "text": "2022"
          }
        ]
      })  }} 
      {{ componentButton({
        "text": "Ver informe",
        "classes": "c-button--primary mb-8"
      })  }}
    </form>
  </section>

  {# Listado #}
  <section aria-labelledby="informes">
    {# Tabla-Listado de items #}
    <div class="max-w-full overflow-x-auto">
      {{ componentTable({
        "idPrefix": "listado-informes",
        "caption": "Listado de informes",
        "captionClasses": "sr-only",
        "head": [
          {
            "text": "Especie"
          },
          {
            "text": "Número de declaraciones"
          }
        ],
        "rows": [
          [
            {
              "text": "25 - Zaragoza"
            },
            {
              "text": "2345"
            }
          ],
          [
            {
              "text": "10 - Huesca"
            },
            {
              "text": "5624"
            }
          ],
          [
            {
              "text": "03 - Boltaña"
            },
            {
              "text": "1563"
            }
          ]
        ],
        "wrapper": {
          "classes": "relative overflow-x-auto pb-base"
        },
        "classes": "min-w-full"
      })  }}
    </div>
    {# fin Tabla-Listado de items #}
  </section>

  {# Paginacion #}
  <div class="mt-xs w-full">
    <h2 id="paginacion" class="sr-only">Paginación</h2>
    {{ componentPagination({
      "hasSelect": true,
      "idPrefix": "pagination",
      "totalItems": "64",
      "itemsPerPage": "10",
      "items": [
        {
          "href": "#",
          "text": 1,
          "active": true
        },
        {
          "href": "#",
          "text": 2
        },
        {
          "href": "#",
          "text": 3
        },
        {
          "href": "#",
          "text": 4
        },
        {
          "href": "#",
          "text": 5
        },
        {
          "href": "#",
          "text": 6
        }
      ],
      "hasPrevious": false,
      "hasNext": true,
      "previousText": "Anterior",
      "nextText": "Siguiente",
      "attributes": {
        "aria-labelledby": "paginacion"
      }
    })  }}
  </div>

</div> 

{% endblock %}