
<!--  _ds.section.botones.njk -->

<div class="container mx-auto">
  {% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
  {{ DSSectionTitle({
    title: "Botones"
  }) }}
  <div class="pb-lg"></div>
  <p class="c-paragraph-base">Utiliza botones para las acciones más importantes para las personas usuarias. Para otras acciones o enlazar páginas utiliza enlaces.</p>
  <p class="c-paragraph-base">Evita utilizar mas de un boton primario en la misma página.</p>
  <p class="c-paragraph-base">Mantén el texto de los botones corto, con palabras que expliquen claramente la acción que ocurrirá.</p>
  <p class="c-paragraph-base">Utiliza formato oración, texto en minúsculas con la inicial en mayúscula.</p>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Botones principales"
  }) }}
  <div class="pb"></div>
  {% include "ds/_ds.example.botones.njk" %}
  <div class="my-lg">
    {% from "ds/_ds.macro.code-snippet.njk" import DSCodeSnippet %}
    {{ DSCodeSnippet("ds/_ds.example.botones.njk") }}
  </div>
</div>
