
<!--  _ds.section.textos.njk -->

<div class="container mx-auto">
  {% from "ds/_ds.macro.section-title.njk" import DSSectionTitle %}
  {{ DSSectionTitle({
    title: "Textos"
  }) }}
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Fuentes"
  }) }}
  <p>La tipografía principal es <a class="c-link" href="https://fonts.google.com/specimen/Open+Sans?sidebar.open&selection.family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700">Open Sans</a> en sus pesos Bold, Semibold y Regular.</p>
  <div class="pb-lg"></div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Títulos"
  }) }}
  <div class="flex items-center mb-8">
    <div class="w-1/6 mr-8">
      <h1 class="c-h1">Título 1 (h1)</h1>
    </div>
    <div>
      <p class="text-neutral-dark text-sm"><code>bold</code> - <code>black</code> - font-size: <code>1.875rem</code> - <code>30px</code> - line-height: <code>1.25</code> - <code>20px</code></p>
    </div>
  </div>
  <div class="flex items-center mb-8">
    <div class="w-1/6 mr-8">
      <h2 class="c-h2">Título 2 (h2)</h2>
    </div>
    <div>
      <p class="text-neutral-dark text-sm"><code>bold</code> - <code>black</code> - font-size: <code>1.5rem</code> - <code>24px</code> - line-height: <code>1.25</code> - <code>20px</code></p>
    </div>
  </div>
  {% from "ds/_ds.macro.subsection-title.njk" import DSSubsectionTitle %}
  {{ DSSubsectionTitle({
    title: "Párrafos"
  }) }}
  <div class="flex mb-8">
    <div class="w-1/2 mr-8">
      <p class="c-paragraph-lg">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
    </div>
    <div>
      <p class="text-neutral-dark text-sm">Párrafo destacados. <br><code>normal</code> - <code>black</code><br>font-size: <code>1.125rem</code> - <code>18px</code> <br> line-height: <code>1.625</code> - <code>26px</code> <br> margin-bottom: <code>2.5rem</code> - <code>40px</code></p>
    </div>
  </div>
  <div class="flex mb-8">
    <div class="w-1/2 mr-8">
      <p class="c-paragraph-base">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
    </div>
    <div>
      <p class="text-neutral-dark text-sm">Párrafo por defecto. <br><code>normal</code> - <code>black</code><br>font-size: <code>1rem</code> - <code>16px</code> <br>line-height: <code>1.375</code> - <code>22px</code> <br> margin-bottom: <code>1.25rem</code> - <code>20px</code></p>
    </div>
  </div>
  <div class="flex mb-8">
    <div class="w-1/2 mr-8">
      <p class="c-paragraph-base text-neutral-dark">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
    </div>
    <div>
      <p class="text-neutral-dark text-sm">Párrafo secundario. <br><code>normal</code> - <code>neutral-dark</code><br>font-size: <code>1rem</code> - <code>16px</code> <br>line-height: <code>1.375</code> - <code>22px</code> <br> margin-bottom: <code>1.25rem</code> - <code>20px</code></p>
    </div>
  </div>
  <div class="flex mb-8">
    <div class="w-1/2 mr-8">
      <p class="c-paragraph-sm">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
    </div>
    <div>
      <p class="text-neutral-dark text-sm">Párrafo pequeño. <br><code>normal</code> - <code>black</code><br>font-size: <code>.875rem</code> - <code>14px</code> <br>line-height: <code>1.25</code> - <code>20px</code> <br> margin-bottom: <code>.625rem</code> - <code>10px</code></p>
    </div>
  </div>
  <div class="flex mb-8">
    <div class="w-1/2 mr-8">
      <p class="c-paragraph-sm text-neutral-dark">Nam dapibus nisl vitae elit fringilla rutrum. Aenean sollicitudin, erat a elementum rutrum, neque sem pretium metus, quis mollis nisl nunc et massa. </p>
    </div>
    <div>
      <p class="text-neutral-dark text-sm">Párrafo pequeño secundario. <br><code>normal</code> - <code>neutral-dark</code><br>font-size: <code>.875rem</code> - <code>14px</code> <br>line-height: <code>1.25</code> - <code>20px</code> <br> margin-bottom: <code>.625rem</code> - <code>10px</code></p>
    </div>
  </div>
  <div class="my-lg">
    {% from "ds/_ds.macro.code-snippet.njk" import DSCodeSnippet %}
    {{ DSCodeSnippet("ds/_ds.example.textos.njk") }}
  </div>
</div>
