<!-- _global.content-placeholer.njk -->

<!-- Replace with your content -->
<div class="p-2">
  <div class="border-4 border-dashed border-gray-200 rounded-lg h-40"></div>
</div>
<!-- /End replace -->
