{% include "_global.head.njk" %}
<body>
  {% from "components/header/_macro.header.njk" import componentHeader %}
  {% call componentHeader({
    classes: "relative z-40",
    navigation: {
      classes: "hidden md:block",
      items: [
      {
        text: "Intro",
        href: "index.html"
      },
      {
        text: "Componentes",
        href: "componentes.html"
      },
      {
        text: "Páginas",
        href: "paginas.html"
      }],
      attributes: {
        "aria-label": "Navegación principal"
      }
    },
    offcanvas: {
      text: "Menú",
      textClose: "Cerrar menú"
    }
  }) %}
  <ul>
    <li>
      <h3 class="p-base text-base font-bold">Páginas</h3>
        {% from "components/nav/_macro.nav.njk" import componentNav %}
        {{ componentNav({
          items: [
          {
            text: "Intro",
            href: "index.html"
          },
          {
            text: "Componentes",
            href: "componentes.html"
          },
          {
            text: "Páginas",
            href: "paginas.html"
          }],
          attributes: {
            "aria-label": "Navegación principal"
          }
        }) }}
    </li>
  </ul>
  {% endcall %}
  <main id="content" class="container mx-auto px-base">
    {% block contentBlock %}
    {% endblock %}
  </main>
{% include "_global.foot.njk" %}
