{% set title = "agsti-frontend Páginas" %}
{% extends "_template.default.njk" %}
{% block contentBlock %}

<h1 class="c-h1 mt-lg">Gestión de Estiércoles / Modelos y Páginas</h1>

<div class="grid md:grid-cols-3 gap-7 items-start">
  
  <div>{# Columna izquierda #}
    <h2 class="c-h2">Modelos</h2>
    <h3 class="c-h3">Estructura principal</h3>
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/modelo_estructura-normal.html">Estructura normal de página</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/modelo_estructura-subheader-menu-horizontal.html">Estructura con subheader y menú horizontal</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/modelo_estructura-menu-lateral.html">Estructura de página con menú lateral</a>
      </li>
    </ul>
    <h3 class="c-h3">Estructura de edición</h3>
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/modelo_estructura-edicion.html">Estructura de Edición normal</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/modelo_estructura-edicion-menu-lateral.html">Estructura de Edición con menú lateral</a>
      </li>
    </ul>      
  </div>{# /columna izquierda #}

  <div>{# Columna centro #}
    <h2 class="c-h2">Páginas</h2>
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/declaraciones-listado.html">Listado de Declaraciones</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/nueva-declaracion-eecc.html">Nueva Declaración EECC</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/nueva-declaracion.html">Nueva Declaración</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/declaracion-detalle.html">Detalle Declaración</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/centro-detalle.html">Detalle Centro</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/declaracion-firma-registro-1.html">Firma y Registro de la Declaración 1</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/declaracion-firma-registro-2.html">Firma y Registro de la Declaración 2</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/gestion-usuarios-listado.html">Gestión de Usuarios - Listado</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/gestion-usuarios-nuevo.html">Gestión de Usuarios - Nuevo usuario</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/gestion-usuarios-edicion.html">Gestión de Usuarios - Edición de usuario</a>
      </li>
    </ul>      
  </div>{# /columna centro #}

  <div>{# Columna derecha #}
    <h2 class="c-h2">Área Privada</h2>
    <ul class="mb-lg text-sm">
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/priv-validaciones.html">Validaciones</a> (con menu lateral)
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/priv-estasdisticas.html">Estadísticas</a>
      </li>
      <li class="mb-sm">
        <a class="c-link" href="templates/pages/priv-configuracion.html">Configuración</a>
      </li>
    </ul>      
  </div>{# /columna derecha #}

</div>



{% endblock %}